/* Import order is important */
/* First base styles and mixins, keyframes, variables */
/* Variables */
/* Breakpoints */
/* Colors */
/* Color Assignments */
:root {
  --border-color: $border-color;
}

@keyframes flash {
  0% {
    background: rgb(239, 63, 57);
  }
  30% {
    background: rgb(239, 63, 57);
  }
  100% {
    background: rgb(131, 131, 131);
  }
}
/* Reset styles */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
@font-face {
  font-family: "04Font";
  src: url("../../public/04B_03__.ttf") format("truetype");
  font-display: swap;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0px;
  color: white;
  background: rgb(61, 61, 61);
  font-family: "04Font";
  user-select: none;
  display: flex;
  flex-direction: column;
}
body * {
  touch-action: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "04Font";
  border: 0;
  padding: 4px;
  font-size: 16px;
}

input {
  font-family: "04Font";
  font-size: 16px;
  background-color: rgb(31, 31, 31);
  color: white;
  -webkit-appearance: none;
  border: none;
  outline: none;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
input:hover:not([disabled]), input:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

input[type=number] {
  width: 40px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width/height allows safari to render inline svg, sets hoverable size */
svg {
  width: 100px;
  height: 100px;
  pointer-events: none; /* Keep from interfering with pointer interaction */
}

/* Next basic site layout components */
.sidebar {
  position: relative;
  min-width: 206px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.sidebar:hover:not([disabled]), .sidebar:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.sidebar .content {
  height: auto;
  overflow-y: scroll;
}
.sidebar .content::-webkit-scrollbar {
  width: 10px;
}
.sidebar .content::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar .content::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  background-clip: content-box;
  border: 2px solid transparent;
}
.sidebar .content::-webkit-scrollbar-thumb:hover {
  background: white;
  background-clip: content-box;
}

.page {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - 48px);
  user-select: none;
}

.draggable {
  margin: 2px;
  z-index: 100;
}
.draggable:hover {
  z-index: 102;
}
.draggable.v-drag {
  box-shadow: 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.draggable.v-drag:hover:not([disabled]), .draggable.v-drag:focus {
  box-shadow: 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.draggable.h-drag {
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.draggable.h-drag:hover:not([disabled]), .draggable.h-drag:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.draggable .dragging {
  user-select: none;
}
.draggable .header {
  background-color: rgb(0, 0, 0);
  justify-self: center;
  width: 100%;
  min-height: 20px;
  margin: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: grab;
  box-shadow: 0px 2px rgb(131, 131, 131);
}
.draggable .header:hover:not([disabled]), .draggable .header:focus {
  box-shadow: 0px 2px rgb(255, 255, 255);
}
.draggable .header .drag-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.draggable .header .drag-btn .grip {
  margin: 5px;
  height: 2px;
  width: 2px;
  background: rgb(131, 131, 131);
  box-shadow: 0px 0px rgb(131, 131, 131), 4px 0px rgb(131, 131, 131), 0px 4px rgb(131, 131, 131), 4px 4px rgb(131, 131, 131), 0px 8px rgb(131, 131, 131), 4px 8px rgb(131, 131, 131);
}
.draggable .header .drag-btn.locked .grip {
  box-shadow: 2px -2px rgb(131, 131, 131), 4px -2px rgb(131, 131, 131), 0px 0px rgb(131, 131, 131), 6px 0px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131), 6px 2px rgb(131, 131, 131), -2px 4px rgb(131, 131, 131), 0px 4px rgb(131, 131, 131), 2px 4px rgb(131, 131, 131), 4px 4px rgb(131, 131, 131), 6px 4px rgb(131, 131, 131), 8px 4px rgb(131, 131, 131), -2px 6px rgb(131, 131, 131), 0px 6px rgb(131, 131, 131), 4px 6px rgb(131, 131, 131), 6px 6px rgb(131, 131, 131), 8px 6px rgb(131, 131, 131), -2px 8px rgb(131, 131, 131), 0px 8px rgb(131, 131, 131), 4px 8px rgb(131, 131, 131), 6px 8px rgb(131, 131, 131), 8px 8px rgb(131, 131, 131), -2px 10px rgb(131, 131, 131), 0px 10px rgb(131, 131, 131), 2px 10px rgb(131, 131, 131), 4px 10px rgb(131, 131, 131), 6px 10px rgb(131, 131, 131), 8px 10px rgb(131, 131, 131);
}
.draggable .header:hover:not([disabled]) .drag-btn .grip, .draggable .header:focus .drag-btn .grip {
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px rgb(255, 255, 255), 4px 0px rgb(255, 255, 255), 0px 4px rgb(255, 255, 255), 4px 4px rgb(255, 255, 255), 0px 8px rgb(255, 255, 255), 4px 8px rgb(255, 255, 255);
}
.draggable .header:hover:not([disabled]) .drag-btn.locked .grip, .draggable .header:focus .drag-btn.locked .grip {
  box-shadow: 2px -2px rgb(255, 255, 255), 4px -2px rgb(255, 255, 255), 0px 0px rgb(255, 255, 255), 6px 0px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255), 6px 2px rgb(255, 255, 255), -2px 4px rgb(255, 255, 255), 0px 4px rgb(255, 255, 255), 2px 4px rgb(255, 255, 255), 4px 4px rgb(255, 255, 255), 6px 4px rgb(255, 255, 255), 8px 4px rgb(255, 255, 255), -2px 6px rgb(255, 255, 255), 0px 6px rgb(255, 255, 255), 4px 6px rgb(255, 255, 255), 6px 6px rgb(255, 255, 255), 8px 6px rgb(255, 255, 255), -2px 8px rgb(255, 255, 255), 0px 8px rgb(255, 255, 255), 4px 8px rgb(255, 255, 255), 6px 8px rgb(255, 255, 255), 8px 8px rgb(255, 255, 255), -2px 10px rgb(255, 255, 255), 0px 10px rgb(255, 255, 255), 2px 10px rgb(255, 255, 255), 4px 10px rgb(255, 255, 255), 6px 10px rgb(255, 255, 255), 8px 10px rgb(255, 255, 255);
}
.draggable .header .collapse-btn {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 0px;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
}
.draggable .header .collapse-btn input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.draggable .header .collapse-btn .arrow {
  height: 2px;
  width: 2px;
  box-shadow: 9px 5px rgb(131, 131, 131), 7px 7px rgb(131, 131, 131), 9px 7px rgb(131, 131, 131), 11px 7px rgb(131, 131, 131), 5px 9px rgb(131, 131, 131), 7px 9px rgb(131, 131, 131), 9px 9px rgb(131, 131, 131), 11px 9px rgb(131, 131, 131), 13px 9px rgb(131, 131, 131), 9px 11px rgb(131, 131, 131), 9px 13px rgb(131, 131, 131);
}
.draggable .header .collapse-btn input:checked ~ .arrow {
  box-shadow: 9px 5px rgb(131, 131, 131), 9px 7px rgb(131, 131, 131), 5px 9px rgb(131, 131, 131), 7px 9px rgb(131, 131, 131), 9px 9px rgb(131, 131, 131), 11px 9px rgb(131, 131, 131), 13px 9px rgb(131, 131, 131), 7px 11px rgb(131, 131, 131), 9px 11px rgb(131, 131, 131), 11px 11px rgb(131, 131, 131), 9px 13px rgb(131, 131, 131);
}
.draggable .header .collapse-btn:hover .arrow {
  box-shadow: 9px 5px rgb(255, 255, 255), 7px 7px rgb(255, 255, 255), 9px 7px rgb(255, 255, 255), 11px 7px rgb(255, 255, 255), 5px 9px rgb(255, 255, 255), 7px 9px rgb(255, 255, 255), 9px 9px rgb(255, 255, 255), 11px 9px rgb(255, 255, 255), 13px 9px rgb(255, 255, 255), 9px 11px rgb(255, 255, 255), 9px 13px rgb(255, 255, 255);
}
.draggable .header .collapse-btn:hover input:checked ~ .arrow {
  box-shadow: 9px 5px rgb(255, 255, 255), 9px 7px rgb(255, 255, 255), 5px 9px rgb(255, 255, 255), 7px 9px rgb(255, 255, 255), 9px 9px rgb(255, 255, 255), 11px 9px rgb(255, 255, 255), 13px 9px rgb(255, 255, 255), 7px 11px rgb(255, 255, 255), 9px 11px rgb(255, 255, 255), 11px 11px rgb(255, 255, 255), 9px 13px rgb(255, 255, 255);
}
.draggable .collapsible {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 2px;
  transition: all 1s;
}

/* Misc */
.tooltip {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  max-width: 150px;
  color: black;
  background: rgb(255, 255, 199);
  text-align: center;
  font-family: "04Font";
  font-size: 16px;
  padding: 5px;
  align-self: flex-start;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
  z-index: 1000;
  box-shadow: 2px 0px rgb(255, 255, 199), -2px 0px rgb(255, 255, 199), 0px -2px rgb(255, 255, 199), 0px 2px rgb(255, 255, 199);
}
.tooltip:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  position: absolute;
  top: -2px;
  right: -2px;
  background: rgb(255, 255, 199);
  box-shadow: -2px -2px rgb(255, 255, 199), 0px -2px rgb(255, 255, 199), 0px -4px rgb(255, 255, 199);
}
.tooltip.visible {
  visibility: visible;
  opacity: 1;
}
.tooltip.page-left:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: rgb(255, 255, 199);
  box-shadow: 2px -2px rgb(255, 255, 199), 0px -2px rgb(255, 255, 199), 0px -4px rgb(255, 255, 199);
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(131, 131, 131);
  user-select: none;
  text-align: center;
  color: white;
  margin: 3px;
  opacity: 1;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.btn:hover:not([disabled]), .btn:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.btn.custom-shape {
  background: transparent;
  box-shadow: none;
}
.btn.custom-shape:hover {
  box-shadow: none;
}
.btn.custom-shape:hover .outline {
  stroke: white;
}
.btn:hover {
  cursor: pointer;
}
.btn * {
  pointer-events: none;
}

.btn-pair {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  width: 100%;
}
.btn-pair .custom-shape {
  width: 44px;
  height: 44px;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 18px;
}
.columns .btn {
  width: 40px;
  height: 40px;
  margin: 1px;
}
.columns .btn:hover {
  z-index: 104;
}
.columns .column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  width: 50%;
}
.columns .column h4 {
  text-align: center;
  margin: 0px;
}

.nav {
  background-color: rgb(0, 0, 0);
  justify-self: center;
  width: calc(100% - 4px);
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 2px;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.nav:hover:not([disabled]), .nav:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.nav .title {
  padding-left: 16px;
  padding-right: 16px;
}
.nav .title a {
  display: flex;
  align-items: center;
}
.nav .title a img {
  width: 32px;
  height: 32px;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Webkit (Safari now, Chrome and Opera up to v12.0) */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* Webkit (Chrome from v41, Opera from v26) */
  -ms-interpolation-mode: nearest-neighbor;
}
.nav .nav-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}
.nav .nav-items .toggle {
  padding-right: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}
.nav .nav-items .toggle input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.nav .nav-items .toggle .checkmark {
  height: 16px;
  width: 16px;
  background-color: rgb(255, 255, 255);
  margin-right: 8px;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.nav .nav-items .toggle:hover .checkmark {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.nav .nav-items .toggle input:checked ~ .checkmark {
  background-color: rgb(65, 131, 252);
}
.nav .nav-items #debugger {
  display: none;
}
.nav .nav-items .canvas-size {
  padding-right: 16px;
}
.nav .nav-items .canvas-size .btn {
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgb(77, 77, 77);
}
.nav .nav-items .export .btn {
  height: 28px;
  width: 84px;
  background: rgb(77, 77, 77);
}

/* Next override basic styles with specific styles when necessary */
/* Canvas */
canvas {
  image-rendering: pixelated;
}

.canvas-container {
  user-select: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.bg-space {
  position: relative;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: 2px;
  overflow: hidden;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.bg-space:hover:not([disabled]), .bg-space:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

.onScreen {
  position: absolute;
  background-image: repeating-linear-gradient(-45deg, white, white 5px, rgb(216, 216, 216) 5px, rgb(216, 216, 216) 10px);
  cursor: crosshair;
  width: 100%;
  height: 100%;
}

.gui {
  position: absolute;
  cursor: crosshair;
  width: 100%;
  height: 100%;
}

#vectorGui {
  mix-blend-mode: difference;
}

/* Toolbox */
.toolbox {
  user-select: none;
  position: absolute;
  z-index: 102;
  background-color: rgb(51, 51, 51);
  width: 136px;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
  /* Color Swatches */
  /* Zoom */
}
.toolbox:hover:not([disabled]), .toolbox:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.toolbox .colors {
  width: 128px;
  height: 128px;
  position: relative;
}
.toolbox .colors .swatch {
  position: absolute;
  background: rgb(0, 0, 0);
  width: 72px;
  height: 72px;
  margin: 16px;
  z-index: 6;
}
.toolbox .colors .back-swatch {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 72px;
  height: 72px;
  margin: 16px;
  z-index: 5;
  transform: translateX(24px) translateY(24px);
}
.toolbox .color-switch {
  width: 40px;
  height: 40px;
  background: transparent;
  box-shadow: none;
  margin-bottom: -24px;
  transform: translateX(-48px) translateY(-36px);
}
.toolbox .color-switch:hover {
  box-shadow: none;
}
.toolbox .zoom {
  display: flex;
  justify-content: space-around;
  margin-top: 46px;
  width: 100%;
}
.toolbox .zoom .tool {
  background: rgb(131, 131, 131);
  margin: 3px;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
  cursor: pointer;
}
.toolbox .zoom .tool:hover:not([disabled]), .toolbox .zoom .tool:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.toolbox .zoom .tool .plusminus {
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
}
.toolbox .zoom .tool .plusminus div {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
.toolbox .zoom .tool .plusminus div p {
  pointer-events: none;
  transform: translateX(2px) translateY(2px);
}
.toolbox .zoom .tool .plusminus div:hover {
  background: white;
  color: black;
}

.fill {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-fill.png");
  background-size: 100%;
}

.quadCurve {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-quad.png");
  background-size: 100%;
}

.cubicCurve {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-cubic.png");
  background-size: 100%;
}

.ellipse {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-ellipse.png");
  background-size: 100%;
}

.line {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-line.png");
  background-size: 100%;
}

.brush {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-brush.png");
  background-size: 100%;
}

.eyedropper {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-eyedropper.png");
  background-size: 100%;
}

.eraser {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-eraser.png");
  background-size: 100%;
}

.grab {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-grab.png");
  background-size: 100%;
}

.pencil {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-pencil.png");
  background-size: 100%;
}

.mechanical {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-mechanical.png");
  background-size: 100%;
}

.replace {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-replace.png");
  background-size: 100%;
}

/* Layers */
.layers-interface {
  user-select: none;
  position: relative;
  z-index: 100;
  background-color: rgb(51, 51, 51);
  width: 206px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  order: 3;
}
.layers-interface .layers-control {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px;
}
.layers-interface .layers-control input[type=file] {
  display: none;
}
.layers-interface .layers-control .custom-file-upload {
  width: 28px;
  height: 28px;
  background: rgb(131, 131, 131);
}
.layers-interface .layers-control .new-raster-layer {
  width: 28px;
  height: 28px;
  background: rgb(131, 131, 131);
}
.layers-interface .layers-container {
  width: calc(100% - 4px);
  height: auto;
  max-height: 481px;
  overflow-y: auto;
  margin: 2px;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.layers-interface .layers-container:hover:not([disabled]), .layers-interface .layers-container:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.layers-interface .layers-container::-webkit-scrollbar {
  width: 10px;
}
.layers-interface .layers-container::-webkit-scrollbar-track {
  background: transparent;
}
.layers-interface .layers-container::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  background-clip: content-box;
  border: 2px solid transparent;
}
.layers-interface .layers-container::-webkit-scrollbar-thumb:hover {
  background: white;
  background-clip: content-box;
}
.layers-interface .layers-container .layers {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
}
.layers-interface .layers-container .layers .layer {
  cursor: grab;
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: center;
  box-shadow: inset 2px 0px rgb(131, 131, 131), inset -2px 0px rgb(131, 131, 131), inset 0px -2px rgb(131, 131, 131), inset 0px 2px rgb(131, 131, 131);
}
.layers-interface .layers-container .layers .layer.raster {
  background: rgb(77, 77, 77);
}
.layers-interface .layers-container .layers .layer.reference {
  background: rgb(95, 95, 95);
}
.layers-interface .layers-container .layers .layer:hover {
  box-shadow: inset 2px 0px rgb(255, 255, 255), inset -2px 0px rgb(255, 255, 255), inset 0px -2px rgb(255, 255, 255), inset 0px 2px rgb(255, 255, 255);
}
.layers-interface .layers-container .layers .layer .hide {
  width: 28px;
  height: 28px;
  margin: 6px;
  background: rgb(131, 131, 131);
}
.layers-interface .layers-container .layers .layer .hide .eye {
  height: 2px;
  width: 2px;
}
.layers-interface .layers-container .layers .layer .hide .eye.eyeopen {
  opacity: 1;
  transform: translateX(-13px) translateY(-13px);
  box-shadow: 10px 6px rgb(0, 0, 0), 12px 6px rgb(0, 0, 0), 14px 6px rgb(0, 0, 0), 16px 6px rgb(0, 0, 0), 6px 8px rgb(0, 0, 0), 8px 8px rgb(87, 87, 87), 10px 8px rgb(172, 172, 172), 12px 8px rgb(172, 172, 172), 14px 8px rgb(172, 172, 172), 16px 8px rgb(172, 172, 172), 18px 8px rgb(87, 87, 87), 20px 8px rgb(0, 0, 0), 4px 10px rgb(0, 0, 0), 6px 10px rgb(87, 87, 87), 8px 10px rgb(255, 255, 255), 10px 10px rgb(255, 255, 255), 12px 10px rgb(0, 0, 0), 14px 10px rgb(0, 0, 0), 16px 10px rgb(255, 255, 255), 18px 10px rgb(172, 172, 172), 20px 10px rgb(87, 87, 87), 22px 10px rgb(0, 0, 0), 2px 12px rgb(0, 0, 0), 4px 12px rgb(87, 87, 87), 6px 12px rgb(255, 255, 255), 8px 12px rgb(255, 255, 255), 10px 12px rgb(0, 0, 0), 12px 12px rgb(255, 255, 255), 14px 12px rgb(0, 0, 0), 16px 12px rgb(0, 0, 0), 18px 12px rgb(255, 255, 255), 20px 12px rgb(172, 172, 172), 22px 12px rgb(172, 172, 172), 24px 12px rgb(0, 0, 0), 4px 14px rgb(172, 172, 172), 6px 14px rgb(255, 255, 255), 8px 14px rgb(255, 255, 255), 10px 14px rgb(0, 0, 0), 12px 14px rgb(0, 0, 0), 14px 14px rgb(0, 0, 0), 16px 14px rgb(0, 0, 0), 18px 14px rgb(255, 255, 255), 20px 14px rgb(172, 172, 172), 22px 14px rgb(172, 172, 172), 4px 16px rgb(0, 0, 0), 6px 16px rgb(172, 172, 172), 8px 16px rgb(255, 255, 255), 10px 16px rgb(255, 255, 255), 12px 16px rgb(0, 0, 0), 14px 16px rgb(0, 0, 0), 16px 16px rgb(255, 255, 255), 18px 16px rgb(172, 172, 172), 20px 16px rgb(172, 172, 172), 22px 16px rgb(0, 0, 0), 6px 18px rgb(0, 0, 0), 8px 18px rgb(87, 87, 87), 10px 18px rgb(172, 172, 172), 12px 18px rgb(172, 172, 172), 14px 18px rgb(172, 172, 172), 16px 18px rgb(172, 172, 172), 18px 18px rgb(87, 87, 87), 20px 18px rgb(0, 0, 0), 10px 20px rgb(0, 0, 0), 12px 20px rgb(0, 0, 0), 14px 20px rgb(0, 0, 0), 16px 20px rgb(0, 0, 0);
}
.layers-interface .layers-container .layers .layer .hide .eye.eyeclosed {
  opacity: 1;
  transform: translateX(-13px) translateY(-13px);
  box-shadow: 10px 6px rgb(0, 0, 0), 12px 6px rgb(0, 0, 0), 14px 6px rgb(0, 0, 0), 16px 6px rgb(0, 0, 0), 6px 8px rgb(0, 0, 0), 8px 8px rgb(87, 87, 87), 10px 8px rgb(172, 172, 172), 12px 8px rgb(172, 172, 172), 14px 8px rgb(172, 172, 172), 16px 8px rgb(87, 87, 87), 18px 8px rgb(87, 87, 87), 20px 8px rgb(0, 0, 0), 4px 10px rgb(0, 0, 0), 6px 10px rgb(87, 87, 87), 8px 10px rgb(172, 172, 172), 10px 10px rgb(172, 172, 172), 12px 10px rgb(172, 172, 172), 14px 10px rgb(172, 172, 172), 16px 10px rgb(172, 172, 172), 18px 10px rgb(87, 87, 87), 20px 10px rgb(87, 87, 87), 22px 10px rgb(0, 0, 0), 4px 12px rgb(87, 87, 87), 6px 12px rgb(172, 172, 172), 8px 12px rgb(172, 172, 172), 10px 12px rgb(172, 172, 172), 12px 12px rgb(172, 172, 172), 14px 12px rgb(172, 172, 172), 16px 12px rgb(172, 172, 172), 18px 12px rgb(87, 87, 87), 20px 12px rgb(87, 87, 87), 22px 12px rgb(87, 87, 87), 2px 14px rgb(0, 0, 0), 4px 14px rgb(172, 172, 172), 6px 14px rgb(172, 172, 172), 8px 14px rgb(172, 172, 172), 10px 14px rgb(172, 172, 172), 12px 14px rgb(172, 172, 172), 14px 14px rgb(172, 172, 172), 16px 14px rgb(172, 172, 172), 18px 14px rgb(87, 87, 87), 20px 14px rgb(87, 87, 87), 22px 14px rgb(87, 87, 87), 24px 14px rgb(0, 0, 0), 4px 16px rgb(0, 0, 0), 6px 16px rgb(172, 172, 172), 8px 16px rgb(172, 172, 172), 10px 16px rgb(172, 172, 172), 12px 16px rgb(172, 172, 172), 14px 16px rgb(172, 172, 172), 16px 16px rgb(87, 87, 87), 18px 16px rgb(87, 87, 87), 20px 16px rgb(87, 87, 87), 22px 16px rgb(0, 0, 0), 6px 18px rgb(0, 0, 0), 8px 18px rgb(87, 87, 87), 10px 18px rgb(87, 87, 87), 12px 18px rgb(87, 87, 87), 14px 18px rgb(87, 87, 87), 16px 18px rgb(87, 87, 87), 18px 18px rgb(87, 87, 87), 20px 18px rgb(0, 0, 0), 10px 20px rgb(0, 0, 0), 12px 20px rgb(0, 0, 0), 14px 20px rgb(0, 0, 0), 16px 20px rgb(0, 0, 0);
}
.layers-interface .layers-container .layers .layer .warning {
  background: rgb(239, 63, 57);
  animation: flash 0.6s ease-in infinite alternate-reverse;
}

/* Vectors, interface provides access to select any vector existing in the timeline */
.vectors-interface {
  user-select: none;
  position: relative;
  z-index: 100;
  background-color: rgb(51, 51, 51);
  width: 206px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  order: 4;
}
.vectors-interface .vectors-control {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px;
}
.vectors-interface .vectors-control .thumbnail-style {
  width: 28px;
  height: 28px;
  background: rgb(131, 131, 131);
}
.vectors-interface .vectors-control .thumbnail-style .icon {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-fit.png");
  background-size: 28px;
}
.vectors-interface .vectors-control .thumbnail-style input[type=checkbox] {
  display: none;
}
.vectors-interface .vectors-control .thumbnail-style input[type=checkbox]:checked + .icon {
  background-image: url("../public/pixelv-expand.png");
}
.vectors-interface .vectors-container {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 481px;
  overflow-y: auto;
  margin: 2px;
  box-shadow: 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.vectors-interface .vectors-container:hover:not([disabled]), .vectors-interface .vectors-container:focus {
  box-shadow: 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.vectors-interface .vectors-container::-webkit-scrollbar {
  width: 10px;
}
.vectors-interface .vectors-container::-webkit-scrollbar-track {
  background: transparent;
}
.vectors-interface .vectors-container::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  background-clip: content-box;
  border: 2px solid transparent;
}
.vectors-interface .vectors-container::-webkit-scrollbar-thumb:hover {
  background: white;
  background-clip: content-box;
}
.vectors-interface .vectors-container .vectors {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
}
.vectors-interface .vectors-container .vectors .vector {
  position: relative;
  cursor: grab;
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 0px rgb(131, 131, 131), inset -2px 0px rgb(131, 131, 131), inset 0px -2px rgb(131, 131, 131), inset 0px 2px rgb(131, 131, 131);
}
.vectors-interface .vectors-container .vectors .vector img {
  background-image: repeating-linear-gradient(-45deg, white, white 5px, rgb(216, 216, 216) 5px, rgb(216, 216, 216) 10px);
  height: calc(100% - 4px);
}
.vectors-interface .vectors-container .vectors .vector canvas {
  position: absolute;
  background-image: repeating-linear-gradient(-45deg, white, white 5px, rgb(216, 216, 216) 5px, rgb(216, 216, 216) 10px);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.vectors-interface .vectors-container .vectors .vector .tool {
  position: absolute;
  right: 0;
  top: 0;
  cursor: grab;
  width: 20px;
  height: 20px;
  background: rgb(131, 131, 131);
  z-index: 104;
  margin: 2px;
}
.vectors-interface .vectors-container .vectors .vector .actionColor {
  position: absolute;
  right: 0;
  top: 22px;
  cursor: grab;
  width: 20px;
  height: 20px;
  background: rgb(131, 131, 131);
  z-index: 104;
  margin: 2px;
}
.vectors-interface .vectors-container .vectors .vector.selected {
  background: rgb(77, 77, 77);
}
.vectors-interface .vectors-container .vectors .vector:hover {
  box-shadow: inset 2px 0px rgb(255, 255, 255), inset -2px 0px rgb(255, 255, 255), inset 0px -2px rgb(255, 255, 255), inset 0px 2px rgb(255, 255, 255);
}
.vectors-interface .vectors-container .vectors .vector:hover .btn {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.vectors-interface .vectors-container .vectors .vector .hide {
  width: 28px;
  height: 28px;
  margin: 6px;
  background: rgb(131, 131, 131);
}
.vectors-interface .vectors-container .vectors .vector .hide .eye {
  height: 2px;
  width: 2px;
}
.vectors-interface .vectors-container .vectors .vector .hide .eye.eyeopen {
  opacity: 1;
  transform: translateX(-13px) translateY(-13px);
  box-shadow: 10px 6px rgb(0, 0, 0), 12px 6px rgb(0, 0, 0), 14px 6px rgb(0, 0, 0), 16px 6px rgb(0, 0, 0), 6px 8px rgb(0, 0, 0), 8px 8px rgb(87, 87, 87), 10px 8px rgb(172, 172, 172), 12px 8px rgb(172, 172, 172), 14px 8px rgb(172, 172, 172), 16px 8px rgb(172, 172, 172), 18px 8px rgb(87, 87, 87), 20px 8px rgb(0, 0, 0), 4px 10px rgb(0, 0, 0), 6px 10px rgb(87, 87, 87), 8px 10px rgb(255, 255, 255), 10px 10px rgb(255, 255, 255), 12px 10px rgb(0, 0, 0), 14px 10px rgb(0, 0, 0), 16px 10px rgb(255, 255, 255), 18px 10px rgb(172, 172, 172), 20px 10px rgb(87, 87, 87), 22px 10px rgb(0, 0, 0), 2px 12px rgb(0, 0, 0), 4px 12px rgb(87, 87, 87), 6px 12px rgb(255, 255, 255), 8px 12px rgb(255, 255, 255), 10px 12px rgb(0, 0, 0), 12px 12px rgb(255, 255, 255), 14px 12px rgb(0, 0, 0), 16px 12px rgb(0, 0, 0), 18px 12px rgb(255, 255, 255), 20px 12px rgb(172, 172, 172), 22px 12px rgb(172, 172, 172), 24px 12px rgb(0, 0, 0), 4px 14px rgb(172, 172, 172), 6px 14px rgb(255, 255, 255), 8px 14px rgb(255, 255, 255), 10px 14px rgb(0, 0, 0), 12px 14px rgb(0, 0, 0), 14px 14px rgb(0, 0, 0), 16px 14px rgb(0, 0, 0), 18px 14px rgb(255, 255, 255), 20px 14px rgb(172, 172, 172), 22px 14px rgb(172, 172, 172), 4px 16px rgb(0, 0, 0), 6px 16px rgb(172, 172, 172), 8px 16px rgb(255, 255, 255), 10px 16px rgb(255, 255, 255), 12px 16px rgb(0, 0, 0), 14px 16px rgb(0, 0, 0), 16px 16px rgb(255, 255, 255), 18px 16px rgb(172, 172, 172), 20px 16px rgb(172, 172, 172), 22px 16px rgb(0, 0, 0), 6px 18px rgb(0, 0, 0), 8px 18px rgb(87, 87, 87), 10px 18px rgb(172, 172, 172), 12px 18px rgb(172, 172, 172), 14px 18px rgb(172, 172, 172), 16px 18px rgb(172, 172, 172), 18px 18px rgb(87, 87, 87), 20px 18px rgb(0, 0, 0), 10px 20px rgb(0, 0, 0), 12px 20px rgb(0, 0, 0), 14px 20px rgb(0, 0, 0), 16px 20px rgb(0, 0, 0);
}
.vectors-interface .vectors-container .vectors .vector .hide .eye.eyeclosed {
  opacity: 1;
  transform: translateX(-13px) translateY(-13px);
  box-shadow: 10px 6px rgb(0, 0, 0), 12px 6px rgb(0, 0, 0), 14px 6px rgb(0, 0, 0), 16px 6px rgb(0, 0, 0), 6px 8px rgb(0, 0, 0), 8px 8px rgb(87, 87, 87), 10px 8px rgb(172, 172, 172), 12px 8px rgb(172, 172, 172), 14px 8px rgb(172, 172, 172), 16px 8px rgb(87, 87, 87), 18px 8px rgb(87, 87, 87), 20px 8px rgb(0, 0, 0), 4px 10px rgb(0, 0, 0), 6px 10px rgb(87, 87, 87), 8px 10px rgb(172, 172, 172), 10px 10px rgb(172, 172, 172), 12px 10px rgb(172, 172, 172), 14px 10px rgb(172, 172, 172), 16px 10px rgb(172, 172, 172), 18px 10px rgb(87, 87, 87), 20px 10px rgb(87, 87, 87), 22px 10px rgb(0, 0, 0), 4px 12px rgb(87, 87, 87), 6px 12px rgb(172, 172, 172), 8px 12px rgb(172, 172, 172), 10px 12px rgb(172, 172, 172), 12px 12px rgb(172, 172, 172), 14px 12px rgb(172, 172, 172), 16px 12px rgb(172, 172, 172), 18px 12px rgb(87, 87, 87), 20px 12px rgb(87, 87, 87), 22px 12px rgb(87, 87, 87), 2px 14px rgb(0, 0, 0), 4px 14px rgb(172, 172, 172), 6px 14px rgb(172, 172, 172), 8px 14px rgb(172, 172, 172), 10px 14px rgb(172, 172, 172), 12px 14px rgb(172, 172, 172), 14px 14px rgb(172, 172, 172), 16px 14px rgb(172, 172, 172), 18px 14px rgb(87, 87, 87), 20px 14px rgb(87, 87, 87), 22px 14px rgb(87, 87, 87), 24px 14px rgb(0, 0, 0), 4px 16px rgb(0, 0, 0), 6px 16px rgb(172, 172, 172), 8px 16px rgb(172, 172, 172), 10px 16px rgb(172, 172, 172), 12px 16px rgb(172, 172, 172), 14px 16px rgb(172, 172, 172), 16px 16px rgb(87, 87, 87), 18px 16px rgb(87, 87, 87), 20px 16px rgb(87, 87, 87), 22px 16px rgb(0, 0, 0), 6px 18px rgb(0, 0, 0), 8px 18px rgb(87, 87, 87), 10px 18px rgb(87, 87, 87), 12px 18px rgb(87, 87, 87), 14px 18px rgb(87, 87, 87), 16px 18px rgb(87, 87, 87), 18px 18px rgb(87, 87, 87), 20px 18px rgb(0, 0, 0), 10px 20px rgb(0, 0, 0), 12px 20px rgb(0, 0, 0), 14px 20px rgb(0, 0, 0), 16px 20px rgb(0, 0, 0);
}
.vectors-interface .vectors-container .vectors .vector .warning {
  background: rgb(239, 63, 57);
  animation: flash 0.6s ease-in infinite alternate-reverse;
}

.brush-container {
  background-color: rgb(51, 51, 51);
  user-select: none;
  position: relative;
  z-index: 100;
  width: 206px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  order: 1;
}
.brush-container p {
  margin: 0px;
}
.brush-container .brush-size {
  padding-top: 2px;
}
.brush-container .brush-preview {
  width: 64px;
  height: 64px;
  background: rgb(31, 31, 31);
}
.brush-container .brush-preview #brush-preview {
  width: 2px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brush-container .slider {
  -webkit-appearance: none;
  width: 80%;
  height: 16px;
  background: rgb(31, 31, 31);
  outline: none;
  margin-bottom: 4px;
  cursor: pointer;
}
.brush-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
}
.brush-container .slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
}
.brush-container .slider:disabled {
  cursor: not-allowed;
  background: rgb(131, 131, 131);
}
.brush-container .slider:disabled::-webkit-slider-thumb {
  background: rgb(200, 200, 200);
}
.brush-container .slider:disabled::-moz-range-thumb {
  background: rgb(200, 200, 200);
}

/* Color Picker */
.picker-container {
  user-select: none;
  position: absolute;
  z-index: 103;
  top: calc(50% - 235px);
  left: calc(50% - 183px);
  display: none;
  flex-flow: column nowrap;
  color: white;
  background: rgb(51, 51, 51);
  text-align: center;
  width: 570px;
  font-family: "04Font";
  font-size: 16px;
  padding: 0;
  align-self: center;
  opacity: 1;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.picker-container:hover:not([disabled]), .picker-container:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.picker-container .header h3 {
  justify-self: center;
  height: 20px;
  margin: 0px;
}

.picker-interface {
  display: flex;
  flex-flow: row nowrap;
}
.picker-interface #left {
  display: flex;
  flex-flow: column nowrap;
  height: 346px;
}
.picker-interface #left #picker {
  display: flex;
  flex-flow: row nowrap;
  height: 290px;
  width: 310px;
}
.picker-interface #left #picker #color-picker {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 20px;
  cursor: crosshair;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.picker-interface #left #picker #color-picker:hover:not([disabled]), .picker-interface #left #picker #color-picker:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.picker-interface #left #picker #hueslider {
  flex-shrink: 0;
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(90deg);
  transform-origin: left;
  width: 250px;
  height: 20px;
  margin: 10px;
  background: white;
  outline: none;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.picker-interface #left #picker #hueslider:hover:not([disabled]), .picker-interface #left #picker #hueslider:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.picker-interface #left #picker #hueslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 5px;
  outline: 2px solid rgb(0, 0, 0);
}
.picker-interface #left #buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  height: 76px;
}
.picker-interface #left #buttons .btn {
  background: rgb(77, 77, 77);
  font-size: 20px;
  padding: 8px;
  margin: 0px 20px 0px 20px;
}
.picker-interface #right {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  height: 346px;
  width: 260px;
}
.picker-interface #right label {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.picker-interface #right label input {
  margin-left: 8px;
}
.picker-interface #right #colors {
  display: flex;
  justify-content: center;
  width: 100%;
}
.picker-interface #right #colors div {
  background-color: white;
  width: 80px;
  height: 40px;
  margin: 10px 10px 0px 10px;
}
.picker-interface #right #rgbahsl {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-left: 30px;
}
.picker-interface #right #rgbahsl .channel-container {
  display: flex;
  flex-flow: column nowrap;
}
.picker-interface #right #rgbahsl #hsl-container {
  margin-left: 12px;
}
.picker-interface #right #rgbahsl .sliderbox {
  position: relative;
  background-color: rgb(31, 31, 31);
  width: 16px;
  height: 18px;
  margin-left: 6px;
  overflow: hidden;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.picker-interface #right #rgbahsl .sliderbox:hover:not([disabled]), .picker-interface #right #rgbahsl .sliderbox:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.picker-interface #right #rgbahsl .sliderbox .channel-btn {
  position: absolute;
  text-align: center;
  width: 16px;
  height: 9px;
  left: 0;
  color: white;
  cursor: pointer;
}
.picker-interface #right #rgbahsl .sliderbox .channel-btn#inc {
  top: 0;
}
.picker-interface #right #rgbahsl .sliderbox .channel-btn#dec {
  bottom: 0;
}
.picker-interface #right #rgbahsl .sliderbox .channel-btn p {
  transform: translateX(1px) translateY(-2px);
  margin: 0;
  pointer-events: none;
}
.picker-interface #right #rgbahsl .sliderbox .channel-btn:hover {
  background: white;
  color: rgb(31, 31, 31);
}
.picker-interface #right #hex {
  margin-left: 30px;
}
.picker-interface #right #hex #hexcode {
  width: 80px;
}
.picker-interface #right #lumi {
  margin-left: 30px;
}
.picker-interface #right #lumi #luminance {
  width: 26px;
}

.size-container {
  background-color: rgb(51, 51, 51);
  user-select: none;
  position: relative;
  z-index: 100;
  width: 206px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  order: 2;
}
.size-container p {
  margin: 0px;
}
.size-container .dimensions-form {
  padding: 4px;
}
.size-container .dimensions-form .inputs {
  padding-right: 24px;
  padding-left: 24px;
}
.size-container .dimensions-form label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.size-container .dimensions-form label .input {
  display: flex;
  flex-flow: row nowrap;
}
.size-container .dimensions-form label input {
  margin-left: 8px;
}
.size-container .dimensions-form .btn {
  background: rgb(77, 77, 77);
}
.size-container .sliderbox {
  position: relative;
  background-color: rgb(31, 31, 31);
  width: 16px;
  height: 18px;
  margin-left: 6px;
  overflow: hidden;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131), 0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}
.size-container .sliderbox:hover:not([disabled]), .size-container .sliderbox:focus {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}
.size-container .sliderbox .channel-btn {
  position: absolute;
  text-align: center;
  width: 16px;
  height: 9px;
  left: 0;
  color: white;
  cursor: pointer;
}
.size-container .sliderbox .channel-btn#inc {
  top: 0;
}
.size-container .sliderbox .channel-btn#dec {
  bottom: 0;
}
.size-container .sliderbox .channel-btn p {
  transform: translateX(1px) translateY(-2px);
  margin: 0;
  pointer-events: none;
}
.size-container .sliderbox .channel-btn:hover {
  background: white;
  color: rgb(31, 31, 31);
}

/*# sourceMappingURL=style.css.map */
