@font-face {
  font-family: "04Font";
  src: url("./public/04B_03__.ttf") format("truetype");
}

body {
  margin: 0px;
  color: white;
}

.full-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "04Font";
  user-select: none;
  /* overflow: hidden; */
  position: fixed;
}

/* Canvas */

canvas {
  image-rendering: pixelated;
}

.canvas-container {
  position: relative;
  z-index: 1;
  width: calc(100% - 166px);
}

.bg-space {
  background-color: rgb(80, 80, 80);
  width: 100%;
  height: 100%;
}

#onScreen {
  /* background:
	linear-gradient(135deg, transparent 75%, rgb(216, 216, 216) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgb(216, 216, 216) 0%) 15px 15px,
	linear-gradient(135deg, transparent 75%, rgb(216, 216, 216) 0%) 15px 15px,
	linear-gradient(-45deg, transparent 75%, rgb(216, 216, 216) 0%) 0 0,
    white;
    background-size: 30px 30px; */
  /* background-repeat: round; */
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 5px,
    rgb(216, 216, 216) 5px,
    rgb(216, 216, 216) 10px
  );
  position: relative;
  cursor: crosshair;
  width: calc(100% - 4px);
  margin: 2px;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

#onScreen:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

/* Toolbox */

.icon {
  transform: translateX(-19px) translateY(-19px);
  height: 2px;
  width: 2px;
}

/* width/height allows safari to render inline svg, sets hoverable size */
svg {
  width: 100px;
  height: 100px;
  pointer-events: none; /* Keep from interfering with mouse interaction */
}

.btn:hover .outline {
  stroke: white;
}

.sidebar {
  position: relative;
  background-color: rgb(61, 61, 61);
  width: 352px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}

.toolbox {
  background-color: rgb(41, 41, 41);
  margin: 2px;
  width: calc(50% - 4px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

.toolbox:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

/* Buttons */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(131, 131, 131);
  user-select: none;
  text-align: center;
  color: white;
  margin: 3px;
  opacity: 1;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

.btn:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  color: black;
  background: rgb(255, 255, 199);
  text-align: center;
  width: 100px;
  font-family: "04Font";
  font-size: 16px;
  padding: 5px 0;
  align-self: flex-start;
  transform: translateX(-80px) translateY(48px);
  transition: opacity 0.3s;
  transition-delay: 0.7s;
  z-index: 10;
  box-shadow: 2px 0px rgb(255, 255, 199), -2px 0px rgb(255, 255, 199),
    0px -2px rgb(255, 255, 199), 0px 2px rgb(255, 255, 199);
}

.tooltip:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  position: absolute;
  top: -2px;
  right: -2px;
  background: rgb(255, 255, 199);
  box-shadow: -2px -2px rgb(255, 255, 199), 0px -2px rgb(255, 255, 199),
    0px -4px rgb(255, 255, 199);
}

.btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.btn-pair {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  width: 100%;
}

.btn-pair div {
  width: 44px;
  height: 44px;
  background: transparent;
  box-shadow: none;
}

.btn-pair div:hover {
  box-shadow: none;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 18px;
}

/* Color Picker */

.color-container {
  user-select: none;
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  color: white;
  background: rgb(61, 61, 61);
  text-align: center;
  width: 570px;
  height: 366px;
  font-family: "04Font";
  font-size: 16px;
  padding: 0;
  align-self: center;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  opacity: 1;
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

.color-container h3 {
  background-color: rgb(41, 41, 41);
  justify-self: center;
  height: 20px;
  margin: 0px;
}

#interface {
  display: flex;
  flex-flow: row nowrap;
  height: 300px;
}

#interface #left {
  display: flex;
  flex-flow: column nowrap;
  height: 346px;
}

#interface #left #picker {
  display: flex;
  flex-flow: row nowrap;
  height: 290px;
  width: 310px;
}

#color-picker {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 20px;
  cursor: crosshair;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

#color-picker:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

#hueslider {
  flex-shrink: 0;
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(90deg);
  transform-origin: left;
  width: 250px;
  height: 20px;
  margin: 10px;
  background: white;
  outline: none;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

#hueslider:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

#hueslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 5px;
  outline: 2px solid rgb(0, 0, 0);
}

#buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  height: 76px;
}

#buttons btn {
  background-color: rgb(131, 131, 131);
  font-size: 20px;
  padding: 8px;
  margin: 0px 20px 0px 20px;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

#buttons btn:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

#interface #right {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  height: 346px;
  width: 260px;
}

#right #colors {
  display: flex;
  justify-content: center;
  width: 100%;
}

#right #colors div {
  background-color: white;
  width: 80px;
  height: 40px;
  margin: 10px 10px 0px 10px;
}

#rgbahsl {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

#rgba {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;
}

#rgba label {
  margin: 10px;
}

#hsl {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;
}

#hsl label {
  margin: 10px;
}

input[type="number"] {
  width: 40px;
  font-family: "04Font";
  font-size: 16px;
  background-color: rgb(41, 41, 41);
  color: white;
  -webkit-appearance: none;
  border: none;
  outline: none;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

input[type="number"]:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Increment color channels */

#sliderbox {
  position: absolute;
  background-color: rgb(41, 41, 41);
  width: 16px;
  height: 18px;
  transform: translateX(6px);
  overflow: hidden;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

#sliderbox:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

.channel-btn {
  position: absolute;
  text-align: center;
  width: 16px;
  height: 9px;
  left: 0;
  color: white;
}

#inc {
  top: 0;
}

#dec {
  bottom: 0;
}

.channel-btn p {
  transform: translateX(1px) translateY(-2px);
  margin: 0;
  pointer-events: none;
}

.channel-btn:hover {
  background: white;
  color: rgb(41, 41, 41);
}

/* Hexcode Box */

#hex {
  margin: 23px;
  margin-left: 30px;
}

#hexcode {
  width: 80px;
  font-family: "04Font";
  font-size: 16px;
  background-color: rgb(41, 41, 41);
  color: white;
  -webkit-appearance: none;
  border: none;
  outline: none;
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

#hexcode:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

/* Main Interface */

.colors {
  /* position: relative; */
  width: 128px;
  height: 128px;
}

.swatch {
  position: absolute;
  background: rgb(255, 0, 0);
  width: 72px;
  height: 72px;
  margin: 16px;
  z-index: 6;
}

.back-swatch {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 72px;
  height: 72px;
  margin: 16px;
  z-index: 5;
  transform: translateX(24px) translateY(24px);
}

.back-swatch .tooltip {
  transform: translateX(-124px) translateY(56px);
}

.swatch:hover + .back-swatch .tooltip {
  visibility: visible;
  opacity: 1;
}

.color-switch {
  width: 40px;
  height: 40px;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: -24px;
  transform: translateX(-48px) translateY(-36px);
}

.color-switch:hover {
  box-shadow: none;
}

/* Zoom */

.zoom {
  display: flex;
  justify-content: space-around;
  margin-top: 46px;
  width: 100%;
}

.plusminus {
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.plusminus div {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.plusminus div:hover {
  background: white;
  color: black;
}

.plusminus div p {
  pointer-events: none;
  transform: translateX(2px) translateY(2px);
}

/* Tools */

h4 {
  text-align: center;
  margin: 0px;
}

.column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  width: 50%;
}

.tool {
  width: 40px;
  height: 40px;
}

/* Modes */

.mode {
  width: 40px;
  height: 40px;
}

/* Interfaces */

.interface-container {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  background-color: rgb(41, 41, 41);
  margin: 2px;
  width: calc(100% - 4px);
  box-shadow: 2px 0px rgb(131, 131, 131), -2px 0px rgb(131, 131, 131),
    0px -2px rgb(131, 131, 131), 0px 2px rgb(131, 131, 131);
}

.container:hover {
  box-shadow: 2px 0px rgb(255, 255, 255), -2px 0px rgb(255, 255, 255),
    0px -2px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255);
}

/* Export */

.export-container {
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.export {
  height: 28px;
  width: 84px;
}

.export .tooltip {
  transform: translateX(-100px) translateY(36px);
}

/* Layers */

.layers-interface {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.layers-interface .tooltip {
  transform: translateX(-74px) translateY(36px);
}

.layers-container {
  height: auto;
  max-height: 481px;
  overflow-y: auto;
}

.layers-container::-webkit-scrollbar {
  width: 10px;
}

.layers-container::-webkit-scrollbar-track {
  background: transparent;
}

.layers-container::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  background-clip: content-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

.layers {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
}

.layer {
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: center;
  box-shadow: inset 2px 0px rgb(131, 131, 131),
    inset -2px 0px rgb(131, 131, 131), inset 0px -2px rgb(131, 131, 131),
    inset 0px 2px rgb(131, 131, 131);
}

.layer:hover {
  box-shadow: inset 2px 0px rgb(255, 255, 255),
    inset -2px 0px rgb(255, 255, 255), inset 0px -2px rgb(255, 255, 255),
    inset 0px 2px rgb(255, 255, 255);
}

.hide {
  width: 28px;
  height: 28px;
  margin: 6px;
  background: rgb(131, 131, 131);
}

.eyeopen {
  opacity: 1;
  transform: translateX(-13px) translateY(-13px);
  box-shadow: 10px 6px rgba(0, 0, 0, 255), 12px 6px rgba(0, 0, 0, 255),
    14px 6px rgba(0, 0, 0, 255), 16px 6px rgba(0, 0, 0, 255),
    6px 8px rgba(0, 0, 0, 255), 8px 8px rgba(87, 87, 87, 255),
    10px 8px rgba(172, 172, 172, 255), 12px 8px rgba(172, 172, 172, 255),
    14px 8px rgba(172, 172, 172, 255), 16px 8px rgba(172, 172, 172, 255),
    18px 8px rgba(87, 87, 87, 255), 20px 8px rgba(0, 0, 0, 255),
    4px 10px rgba(0, 0, 0, 255), 6px 10px rgba(87, 87, 87, 255),
    8px 10px rgba(255, 255, 255, 255), 10px 10px rgba(255, 255, 255, 255),
    12px 10px rgba(0, 0, 0, 255), 14px 10px rgba(0, 0, 0, 255),
    16px 10px rgba(255, 255, 255, 255), 18px 10px rgba(172, 172, 172, 255),
    20px 10px rgba(87, 87, 87, 255), 22px 10px rgba(0, 0, 0, 255),
    2px 12px rgba(0, 0, 0, 255), 4px 12px rgba(87, 87, 87, 255),
    6px 12px rgba(255, 255, 255, 255), 8px 12px rgba(255, 255, 255, 255),
    10px 12px rgba(0, 0, 0, 255), 12px 12px rgba(255, 255, 255, 255),
    14px 12px rgba(0, 0, 0, 255), 16px 12px rgba(0, 0, 0, 255),
    18px 12px rgba(255, 255, 255, 255), 20px 12px rgba(172, 172, 172, 255),
    22px 12px rgba(172, 172, 172, 255), 24px 12px rgba(0, 0, 0, 255),
    4px 14px rgba(172, 172, 172, 255), 6px 14px rgba(255, 255, 255, 255),
    8px 14px rgba(255, 255, 255, 255), 10px 14px rgba(0, 0, 0, 255),
    12px 14px rgba(0, 0, 0, 255), 14px 14px rgba(0, 0, 0, 255),
    16px 14px rgba(0, 0, 0, 255), 18px 14px rgba(255, 255, 255, 255),
    20px 14px rgba(172, 172, 172, 255), 22px 14px rgba(172, 172, 172, 255),
    4px 16px rgba(0, 0, 0, 255), 6px 16px rgba(172, 172, 172, 255),
    8px 16px rgba(255, 255, 255, 255), 10px 16px rgba(255, 255, 255, 255),
    12px 16px rgba(0, 0, 0, 255), 14px 16px rgba(0, 0, 0, 255),
    16px 16px rgba(255, 255, 255, 255), 18px 16px rgba(172, 172, 172, 255),
    20px 16px rgba(172, 172, 172, 255), 22px 16px rgba(0, 0, 0, 255),
    6px 18px rgba(0, 0, 0, 255), 8px 18px rgba(87, 87, 87, 255),
    10px 18px rgba(172, 172, 172, 255), 12px 18px rgba(172, 172, 172, 255),
    14px 18px rgba(172, 172, 172, 255), 16px 18px rgba(172, 172, 172, 255),
    18px 18px rgba(87, 87, 87, 255), 20px 18px rgba(0, 0, 0, 255),
    10px 20px rgba(0, 0, 0, 255), 12px 20px rgba(0, 0, 0, 255),
    14px 20px rgba(0, 0, 0, 255), 16px 20px rgba(0, 0, 0, 255);
}

.eyeclosed {
  opacity: 1;
  transform: translateX(-13px) translateY(-13px);
  box-shadow: 10px 6px rgba(0, 0, 0, 255), 12px 6px rgba(0, 0, 0, 255),
    14px 6px rgba(0, 0, 0, 255), 16px 6px rgba(0, 0, 0, 255),
    6px 8px rgba(0, 0, 0, 255), 8px 8px rgba(87, 87, 87, 255),
    10px 8px rgba(172, 172, 172, 255), 12px 8px rgba(172, 172, 172, 255),
    14px 8px rgba(172, 172, 172, 255), 16px 8px rgba(87, 87, 87, 255),
    18px 8px rgba(87, 87, 87, 255), 20px 8px rgba(0, 0, 0, 255),
    4px 10px rgba(0, 0, 0, 255), 6px 10px rgba(87, 87, 87, 255),
    8px 10px rgba(172, 172, 172, 255), 10px 10px rgba(172, 172, 172, 255),
    12px 10px rgba(172, 172, 172, 255), 14px 10px rgba(172, 172, 172, 255),
    16px 10px rgba(172, 172, 172, 255), 18px 10px rgba(87, 87, 87, 255),
    20px 10px rgba(87, 87, 87, 255), 22px 10px rgba(0, 0, 0, 255),
    4px 12px rgba(87, 87, 87, 255), 6px 12px rgba(172, 172, 172, 255),
    8px 12px rgba(172, 172, 172, 255), 10px 12px rgba(172, 172, 172, 255),
    12px 12px rgba(172, 172, 172, 255), 14px 12px rgba(172, 172, 172, 255),
    16px 12px rgba(172, 172, 172, 255), 18px 12px rgba(87, 87, 87, 255),
    20px 12px rgba(87, 87, 87, 255), 22px 12px rgba(87, 87, 87, 255),
    2px 14px rgba(0, 0, 0, 255), 4px 14px rgba(172, 172, 172, 255),
    6px 14px rgba(172, 172, 172, 255), 8px 14px rgba(172, 172, 172, 255),
    10px 14px rgba(172, 172, 172, 255), 12px 14px rgba(172, 172, 172, 255),
    14px 14px rgba(172, 172, 172, 255), 16px 14px rgba(172, 172, 172, 255),
    18px 14px rgba(87, 87, 87, 255), 20px 14px rgba(87, 87, 87, 255),
    22px 14px rgba(87, 87, 87, 255), 24px 14px rgba(0, 0, 0, 255),
    4px 16px rgba(0, 0, 0, 255), 6px 16px rgba(172, 172, 172, 255),
    8px 16px rgba(172, 172, 172, 255), 10px 16px rgba(172, 172, 172, 255),
    12px 16px rgba(172, 172, 172, 255), 14px 16px rgba(172, 172, 172, 255),
    16px 16px rgba(87, 87, 87, 255), 18px 16px rgba(87, 87, 87, 255),
    20px 16px rgba(87, 87, 87, 255), 22px 16px rgba(0, 0, 0, 255),
    6px 18px rgba(0, 0, 0, 255), 8px 18px rgba(87, 87, 87, 255),
    10px 18px rgba(87, 87, 87, 255), 12px 18px rgba(87, 87, 87, 255),
    14px 18px rgba(87, 87, 87, 255), 16px 18px rgba(87, 87, 87, 255),
    18px 18px rgba(87, 87, 87, 255), 20px 18px rgba(0, 0, 0, 255),
    10px 20px rgba(0, 0, 0, 255), 12px 20px rgba(0, 0, 0, 255),
    14px 20px rgba(0, 0, 0, 255), 16px 20px rgba(0, 0, 0, 255);
}

.raster {
  background: rgb(77, 77, 77);
}

.reference {
  background: rgb(95, 95, 95);
}

/* File Upload */

.layers-control {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 28px;
  height: 28px;
  background: rgb(131, 131, 131);
}

.new-raster-layer {
  width: 28px;
  height: 28px;
  background: rgb(131, 131, 131);
}
