.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 206px;
  width: 206px;
  max-height: calc(100% - 4px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 103;
  @include boxBorder;
  touch-action: none;
  .content {
    //class does not exist currently
    // opacity: 0.25;
    height: auto;
    overflow-y: scroll;
    @include scrollBar;
  }
  > .collapsible {
    margin-top: 2px;
  }
}

.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 52px);
  user-select: none;
}

.draggable {
  margin: 2px;
  z-index: 100;
  touch-action: none;
  &.v-drag {
    @include boxBorder($border-color, $white, false, top bottom);
  }
  &.h-drag {
    @include boxBorder;
  }
  &.dragging {
    cursor: grabbing;
    user-select: none;
    z-index: 150;
    > * {
      cursor: grabbing !important;
    }
  }
  .header {
    background-color: $black;
    justify-self: center;
    width: 100%;
    min-height: 20px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: grab;
    @include boxBorder($border-color, $white, false, bottom);
    @include dragger;
    .collapse-btn {
      @include collapseArrow;
    }
  }
  .collapsible {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
}

.settings-box {
  background-color: $extra-dark-gray;
  user-select: none;
  position: relative;
  z-index: 100;
  width: 206px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.smooth-shift {
  transition: top 0.05s;
  &.dragging {
    transition: none;
  }
}

/* Misc */

.tooltip {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  max-width: 150px;
  color: black;
  background: $tooltip-color;
  text-align: center;
  font-family: "04Font";
  font-size: 16px;
  padding: 5px;
  align-self: flex-start;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
  z-index: 1000;
  box-shadow: 2px 0px $tooltip-color, -2px 0px $tooltip-color,
    0px -2px $tooltip-color, 0px 2px $tooltip-color;
  &:after {
    //Speech bubble pointer
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    position: absolute;
    top: -2px;
    right: -2px;
    background: $tooltip-color;
    box-shadow: -2px -2px $tooltip-color, 0px -2px $tooltip-color,
      0px -4px $tooltip-color;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  &.page-left {
    &:after {
      //Speech bubble pointer
      content: "";
      display: inline-block;
      width: 2px;
      height: 2px;
      position: absolute;
      top: -2px;
      left: -2px;
      background: $tooltip-color;
      box-shadow: 2px -2px $tooltip-color, 0px -2px $tooltip-color,
        0px -4px $tooltip-color;
    }
  }
}

/* Buttons */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $button-color;
  user-select: none;
  text-align: center;
  color: white;
  margin: 3px;
  opacity: 1;
  @include boxBorder;
  &.custom-shape {
    background: transparent;
    @include cancelBorder;
    &:hover {
      .outline {
        stroke: white; //for svgs
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
  * {
    pointer-events: none; //btn children should not be interactable
  }
}

.btn-pair {
  display: flex;
  justify-content: space-around;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
  .custom-shape {
    width: 44px;
    height: 44px;
  }
}

.columns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 6px;
  .btn,
  .tool,
  .mode {
    // background: rgb(77, 77, 77);
    // margin: 1px;
    &:hover {
      z-index: 104;
    }
  }
  .column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    width: 50%;
    h4 {
      text-align: center;
      margin: 0px;
    }
  }
}
