.nav {
  background-color: $black;
  justify-self: center;
  width: calc(100% - 4px);
  min-height: 48px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 2px;
  @include boxBorder;
  .title {
    padding-left: 16px;
    padding-right: 16px;
    a {
      display: flex;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -webkit-optimize-contrast; /* Webkit (Safari now, Chrome and Opera up to v12.0) */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: pixelated; /* Webkit (Chrome from v41, Opera from v26) */
        -ms-interpolation-mode: nearest-neighbor;
      }
    }
  }
  .nav-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 7px 16px;
    .toggle {
      padding-right: 16px;
    }
    .tool-options {
      display: flex;
    }
    .canvas-size {
      padding-right: 16px;
      .btn {
        height: 28px;
        padding-left: 8px;
        padding-right: 8px;
        background: $gray;
      }
    }
    .save {
      padding-right: 16px;
      .btn {
        height: 28px;
        width: 84px;
        background: $gray;
      }
    }
    .open-save {
      padding-right: 16px;
      .btn {
        height: 28px;
        width: 84px;
        background: $gray;
      }
      input[type="file"] {
        display: none;
      }
    }
    .export {
      .btn {
        height: 28px;
        width: 84px;
        background: $gray;
      }
    }
  }
}
