/* Brush settings */

.brush-container {
  order: 1;
  .collapsible {
    padding-top: 2px;
    > :first-child {
      margin-top: 8px;
    }
  }
  p {
    margin: 0px;
  }
  .brush-size {
    padding-top: 2px;
    margin-bottom: 3px;
  }
  .brush-preview {
    width: 64px;
    height: 64px;
    background: $darkest-gray;
    #brush-preview {
      width: 2px;
      height: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 16px;
    background: $darkest-gray;
    outline: none;
    margin-bottom: 8px;
    cursor: pointer;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      background: #ffffff;
    }
    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background: #ffffff;
    }
    &:disabled {
      cursor: not-allowed;
      background: $neutral-gray;
      &::-webkit-slider-thumb {
        background: rgb(200, 200, 200);
      }
      &::-moz-range-thumb {
        background: rgb(200, 200, 200);
      }
    }
  }
  .modes-title {
    margin-bottom: 4px;
  }
  .modes-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 8px;
    .mode {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      text-align: center;
      color: white;
      width: 40px;
      height: 40px;
      // margin: 3px;
      opacity: 1;
    }
  }
}
