/* Layers */

.layers-interface {
  order: 4;
  flex: 1 1 auto;
  min-height: 120px; //header and layers-control plus 1 layer.
  .collapsible {
    padding-top: 2px;
  }
  .layers-control {
    flex-shrink: 0; /* Prevents the child from shrinking below its content size */
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
    margin: 2px;
    input[type="file"] {
      display: none;
    }
    .reference {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    input[type="file"]:disabled + .reference {
      cursor: not-allowed;
      opacity: 0.5;
      @include referenceIcon($border-color, $border-color);
    }
    .add-layer {
      width: 40px;
      height: 40px;
      cursor: pointer;
      &:disabled {
        // opacity: 1 !important;
        @include addLayerIcon($border-color, $border-color);
      }
    }
    .trash {
      width: 40px;
      height: 40px;
      cursor: pointer;
      &:disabled {
        // opacity: 1 !important;
        @include trashIcon($border-color, $border-color);
      }
    }
  }
  .layers-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 4px);
    height: auto;
    // max-height: 481px;
    flex: 1 1 auto;
    min-height: 40px;
    overflow-y: auto;
    margin: 2px;
    @include boxBorder;
    @include scrollBar;
    .layers {
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: flex-end;
      .layer {
        cursor: grab;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        align-items: center;
        @include boxBorder($border-color, $white, true);
        &.raster {
          background: $dark-gray;
        }
        &.reference {
          background: $mid-gray;
        }
        &.selected {
          background: black;
        }
        .hide {
          width: 40px;
          height: 40px;
          margin: 5px;
          cursor: pointer;
        }
        .warning {
          // background-color: $warning-color;
          // background-blend-mode: multiply;
          animation: flash 0.6s ease-in infinite alternate-reverse;
        }
        .gear {
          position: absolute;
          right: 0;
          cursor: pointer;
          width: 40px;
          height: 40px;
          z-index: 104;
          margin: 5px;
        }
      }
    }
    // &.disabled {
    //   cursor: not-allowed;
    //   // opacity: 0.5;
    //   @include boxBorder($border-color, $border-color);
    //   * {
    //     pointer-events: none;
    //   }
    //   button {
    //     opacity: 0.5;
    //   }
    // }
  }
  &.disabled {
    .collapsible {
      cursor: not-allowed;
      @include boxBorder($border-color, $border-color);
      * {
        pointer-events: none;
      }
      button,
      label {
        opacity: 0.5;
      }
    }
  }
}

.layer-settings {
  z-index: 1000;
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  // width: 200px;
  // height: 200px;
  position: absolute;
  background: $dark-gray;
  @include bubbleBorder;
  > * {
    margin: 16px 16px 0 16px;
  }
  > :last-child {
    margin-bottom: 16px;
  }
  #layer-name {
    width: 156px;
    box-shadow: none;
  }
  label {
    // > * {
    //   pointer-events: none;
    // }
    &.layer-name-label {
      cursor: text;
      // > * {
      //   pointer-events: unset;
      // }
    }
  }
  .layer-opacity-label {
    .input-label {
      margin-bottom: 8px;
    }
    .slider {
      width: calc(100% - 4px);
    }
  }
}
