/* Layers */

.layers-interface {
  order: 4;
  flex: 1 1 auto;
  min-height: 120px; //header and layers-control plus 1 layer.
  .collapsible {
    padding-top: 2px;
  }
  .layers-control {
    flex-shrink: 0; /* Prevents the child from shrinking below its content size */
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
    margin: 2px;
    input[type="file"] {
      display: none;
    }
    .reference {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .add-layer {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
  .layers-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 4px);
    height: auto;
    // max-height: 481px;
    flex: 1 1 auto;
    min-height: 40px;
    overflow-y: auto;
    margin: 2px;
    @include boxBorder;
    @include scrollBar;
    .layers {
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: flex-end;
      .layer {
        cursor: grab;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        align-items: center;
        @include boxBorder($border-color, $white, true);
        &.raster {
          background: $dark-gray;
        }
        &.reference {
          background: $mid-gray;
        }
        &.selected {
          background: black;
        }
        .hide {
          width: 40px;
          height: 40px;
          margin: 5px;
          cursor: pointer;
        }
        .warning {
          // background-color: $warning-color;
          // background-blend-mode: multiply;
          animation: flash 0.6s ease-in infinite alternate-reverse;
        }
        .trash {
          position: absolute;
          right: 0;
          cursor: pointer;
          width: 40px;
          height: 40px;
          z-index: 104;
          margin: 5px;
          &.disabled {
            opacity: 0.5;
            cursor: no-drop;
          }
        }
      }
    }
  }
}
