/* Layers */

.layers-interface {
  order: 3;
  flex: 1 1 auto;
  min-height: 196px; //header and layers-control plus 3 layers.
  .collapsible {
    padding-top: 2px;
  }
  .layers-control {
    flex-shrink: 0; /* Prevents the child from shrinking below its content size */
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
    margin: 2px;
    input[type="file"] {
      display: none;
    }
    .custom-file-upload {
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-image: url("../public/pixelv-reference.png");
      background-size: 100%;
      &:hover {
        background-image: url("../public/pixelv-reference-hover.png");
      }
    }
    .new-raster-layer {
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-image: url("../public/pixelv-addlayer.png");
      background-size: 100%;
      &:hover {
        background-image: url("../public/pixelv-addlayer-hover.png");
      }
    }
  }
  .layers-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 4px);
    height: auto;
    // max-height: 481px;
    flex: 1 1 auto;
    min-height: 40px;
    overflow-y: auto;
    margin: 2px;
    @include boxBorder;
    @include scrollBar;
    .layers {
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: flex-end;
      .layer {
        cursor: grab;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        align-items: center;
        box-shadow: inset 2px 0px $border-color, inset -2px 0px $border-color,
          inset 0px -2px $border-color, inset 0px 2px $border-color;
        &.raster {
          background: $dark-gray;
        }
        &.reference {
          background: $mid-gray;
        }
        &.selected {
          background: black;
        }
        &:hover {
          box-shadow: inset 2px 0px $white, inset -2px 0px $white,
            inset 0px -2px $white, inset 0px 2px $white;
        }
        .hide {
          width: 40px;
          height: 40px;
          margin: 6px;
          // background: $button-color;
          cursor: pointer;
          &.eyeopen {
            @include eyeOpen;
          }
          &.eyeclosed {
            @include eyeClosed;
          }
        }
        .warning {
          background: $warning-color;
          animation: flash 0.6s ease-in infinite alternate-reverse;
        }
        .trash {
          position: absolute;
          right: 0;
          cursor: pointer;
          width: 40px;
          height: 40px;
          z-index: 104;
          margin: 3px;
          background-image: url("../public/pixelv-trash.png");
          background-size: 100%;
          &:hover {
            background-image: url("../public/pixelv-trash-hover.png");
          }
          &.disabled {
            opacity: 0.5;
            cursor: no-drop;
          }
        }
      }
    }
  }
}
