.export-container {
  user-select: none;
  position: absolute;
  z-index: 103;
  width: 370px;
  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  color: white;
  background: $extra-dark-gray;
  text-align: center;
  padding: 0;
  align-self: center;
  opacity: 1;
  @include boxBorder;
  .header {
    h3 {
      justify-self: center;
      height: 20px;
      margin: 0px;
    }
  }
  .collapsible {
    padding-top: 2px;
    .export-interface {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 10px;
    }
  }

  @media ($bp-md) {
    width: 570px; //important to be fixed for collapsed state
    .collapsible {
      .export-interface {
        flex-flow: row nowrap;
      }
    }
  }
}

.save-container {
  user-select: none;
  position: absolute;
  top: 15%;
  z-index: 103;
  width: 370px;
  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  color: white;
  background: $extra-dark-gray;
  text-align: center;
  padding: 0;
  align-self: center;
  opacity: 1;
  @include boxBorder;
  .header {
    h3 {
      justify-self: center;
      height: 20px;
      margin: 0px;
    }
  }
  .collapsible {
    padding-top: 2px;
    .save-interface {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      margin: 8px;
      .save-setting {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 8px 0px;
        #save-file-name {
          width: 96px; //04Font 16px
          // width: 62px; //Monogram 16px
          // width: 77px; //Monogram 20px
          // background: none;
          box-shadow: none;
        }
        label {
          > * {
            pointer-events: none;
          }
          &.save-file-name-label {
            cursor: text;
            > * {
              pointer-events: unset;
            }
          }
        }
      }
      .advanced-options {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-left: 20px;
        &.disabled {
          opacity: 0.4;
          .save-setting {
            cursor: not-allowed;
            > * {
              pointer-events: none;
            }
          }
        }
      }
      .save-buttons {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 16px;
        .btn {
          height: 28px;
          width: 84px;
          margin: 8px;
          background: $gray;
        }
      }
    }
  }

  @media ($bp-md) {
  }
}
