/* Canvas Size settings */

.size-container {
  order: 3;
  .collapsible {
    padding-top: 2px;
    display: none;
  }
  p {
    margin: 0px;
  }
  .dimensions-form {
    padding: 4px;
    .update-size {
      padding: 4px;
    }
    .inputs {
      padding-right: 24px;
      padding-left: 24px;
    }
    label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      .input {
        display: flex;
        flex-flow: row nowrap;
      }
      input {
        margin-left: 8px;
      }
    }
    .btn {
      background: $gray;
    }
  }
}
