/* Canvas Size settings */

.size-container {
  user-select: none;
  position: absolute;
  top: 15%;
  z-index: 103;
  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  color: white;
  background: $extra-dark-gray;
  text-align: center;
  padding: 0;
  align-self: center;
  opacity: 1;
  .collapsible {
    padding-top: 2px;
    // display: none;
  }
  p {
    margin: 0px;
  }
  .dimensions-form {
    padding: 8px;
    .inputs {
      padding-right: 24px;
      padding-left: 24px;
      padding-bottom: 0;
    }
    label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      .input {
        display: flex;
        flex-flow: row nowrap;
      }
      input {
        margin-left: 8px;
      }
    }
    .buttons-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 18px;
      margin-bottom: 10px;
      button {
        color: $white;
        background: $gray;
        height: 28px;
        width: 84px;
        margin-left: 10px;
        margin-right: 10px;
        @include boxBorder;
      }
    }
  }
}
