/* Toolbox */

.toolbox {
  user-select: none;
  position: absolute;
  z-index: 102;
  background-color: $extra-dark-gray;
  width: 136px;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include boxBorder;
  .collapsible {
    padding-top: 2px;
  }
  /* Color Swatches */
  .colors {
    width: 128px;
    height: 128px;
    position: relative;
    .swatch {
      position: absolute;
      background-image: repeating-linear-gradient(
        -45deg,
        white,
        white 5px,
        rgb(216, 216, 216) 5px,
        rgb(216, 216, 216) 10px
      );
      width: 72px;
      height: 72px;
      margin: 16px;
      z-index: 6;
      .swatch-color {
        background-image: radial-gradient(
          rgba(var(--primary-swatch-color), var(--primary-swatch-alpha)) 50%,
          rgba(var(--primary-swatch-color), 1) 110%
        );
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
    .back-swatch {
      position: absolute;
      background-image: repeating-linear-gradient(
        -45deg,
        white,
        white 5px,
        rgb(216, 216, 216) 5px,
        rgb(216, 216, 216) 10px
      );
      width: 72px;
      height: 72px;
      margin: 16px;
      z-index: 5;
      transform: translateX(24px) translateY(24px);
      .swatch-color {
        background-image: radial-gradient(
          rgba(var(--secondary-swatch-color), var(--secondary-swatch-alpha)) 50%,
          rgba(var(--secondary-swatch-color), 1) 110%
        );
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }
  .color-switch {
    width: 40px;
    height: 40px;
    background: transparent;
    box-shadow: none;
    margin-bottom: -24px;
    transform: translateX(-48px) translateY(-36px);
    &:hover {
      box-shadow: none;
    }
  }
  /* Zoom */
  .zoom {
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
    width: 100%;
    .tool {
      background: $button-color;
      margin: 3px;
      @include boxBorder;
      cursor: pointer;
      .plusminus {
        width: 40px;
        height: 40px;
        display: flex;
        flex-flow: column nowrap;
        div {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 32px;
          p {
            pointer-events: none;
            transform: translateX(2px) translateY(2px);
          }
          &:hover {
            background: white;
            color: black;
          }
        }
      }
    }
  }
}

.fill {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-fill.png");
  background-size: 100%;
}

.quadCurve {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-quad.png");
  background-size: 100%;
}

.cubicCurve {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-cubic.png");
  background-size: 100%;
}

.ellipse {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-ellipse.png");
  background-size: 100%;
}

.line {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-line.png");
  background-size: 100%;
}

.brush {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-brush.png");
  background-size: 100%;
}

.eyedropper {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-eyedropper.png");
  background-size: 100%;
}

.eraser {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-eraser.png");
  background-size: 100%;
}

.grab {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-grab.png");
  background-size: 100%;
}

.move {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-move.png");
  background-size: 100%;
}

.pencil {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-pencil.png");
  background-size: 100%;
}

.mechanical {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-mechanical.png");
  background-size: 100%;
}

.inject {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-inject.png");
  background-size: 100%;
}

.replace {
  width: 100%;
  height: 100%;
  background-image: url("../public/pixelv-replace.png");
  background-size: 100%;
}
