/* Toolbox */

.toolbox {
  user-select: none;
  position: absolute;
  z-index: 102;
  background-color: $extra-dark-gray;
  width: 120px;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include boxBorder;
  .collapsible {
    padding-top: 2px;
    :first-child {
      margin-top: 6px;
    }
    .tool,
    .mode {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      text-align: center;
      color: white;
      width: 40px;
      height: 40px;
      margin: 3px;
      opacity: 1;
      background-color: $button-color;
      @include boxBorder;
      &:hover {
        z-index: 104;
      }
      &.selected {
        background-color: $white;
        z-index: 105;
      }
      &.custom-shape {
        background-color: transparent;
        @include cancelBorder;
      }
    }
    .zoom {
      .zoombtn {
        height: 40px;
        width: 40px;
        padding: 10px;
        background-origin: content-box;
      }
    }
    .btn-pair {
      display: flex;
      justify-content: space-around;
      button {
        margin: 8px;
      }
    }
    .columns {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 2px;
      margin-bottom: 10px;
      .tool,
      .mode {
        &:hover {
          z-index: 104;
        }
      }
      .column {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column wrap;
        margin: 4px;
        h4 {
          text-align: center;
          margin: 0px;
        }
      }
    }
  }
}

.brush {
  @include brushIcon;
}

.colorMask {
  @include colorMaskIcon;
}

.fill {
  @include fillIcon;
}

$tools: line quadCurve cubicCurve ellipse eyedropper grab move pencil eraser
  mechanical inject;

@each $tool in $tools {
  .#{$tool} {
    @include toolStyle($tool);
  }
}

$one-time-tools: recenter clear undo redo plus minus switch;

@each $tool in $one-time-tools {
  .#{$tool} {
    @include toolStyle($tool, true);
  }
}
