/* Toolbox */

.toolbox {
  user-select: none;
  position: absolute;
  z-index: 102;
  background-color: $extra-dark-gray;
  width: 136px;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include boxBorder;
  .collapsible {
    padding-top: 2px;
    .tool,
    .mode {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-color;
      user-select: none;
      text-align: center;
      color: white;
      width: 40px;
      height: 40px;
      margin: 3px;
      opacity: 1;
      @include boxBorder;
      &:hover {
        z-index: 104;
      }
      &.selected {
        background-color: $white;
        z-index: 105;
      }
      &.custom-shape {
        background: transparent;
        @include cancelBorder;
        &:hover {
          .outline {
            stroke: white; //for svgs
          }
        }
      }
    }
    .zoom {
      .zoombtn {
        height: 20px;
        width: 20px;
      }
    }
  }
}

$tools: brush replace fill line quadCurve cubicCurve ellipse eyedropper grab
  move pencil eraser mechanical inject plus minus;

@each $tool in $tools {
  .#{$tool} {
    @include tool-style($tool);
  }
}
