.vector-transform-ui-container {
  @extend %floating-dialog;
  top: 10%;
  @include boxBorder;
  .header {
    h3 {
      justify-self: center;
      height: 20px;
      margin: 0;
    }
  }
  .collapsible {
    padding-top: 2px;
    .vector-transform-ui-interface {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 10px;
      .vector-transform-modes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        // margin: 10px;
      }
      .transform-options {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        // margin: 10px;
        button {
          color: $white;
        }
      }
      .tool {
        @extend %tool-btn;
      }
    }
  }

  @media ($bp-md) {
    // width: 570px; //important to be fixed for collapsed state
    .collapsible {
      .vector-transform-ui-interface {
        // flex-flow: row nowrap;
      }
    }
  }
}
