/* Reset styles */

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

@font-face {
  font-family: "04Font";
  src: url("../../public/04B_03__.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0px;
  color: white;
  background: $dark-gray;
  font-family: "04Font";
  user-select: none;
  display: flex;
  flex-direction: column;
  canvas {
    touch-action: none;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "04Font";
  border: 0;
  padding: 0;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
  }
}

input {
  box-sizing: border-box;
  font-family: "04Font";
  font-size: 16px;
  padding-block: 0px;
  padding-inline: 0px;
  padding: 0px;
  text-indent: 2px;
  background-color: $darkest-gray;
  color: white;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  @include boxBorder;
}

input[type="number"] {
  width: 40px;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  }
  &::-moz-range-thumb {
    border-radius: 0;
    border: none;
  }
}

/* width/height allows safari to render inline svg, sets hoverable size */

svg {
  width: 100px;
  height: 100px;
  pointer-events: none; /* Keep from interfering with pointer interaction */
}

#preload-container {
  display: none;
  img {
    width: 0;
    height: 0;
  }
}
