@use 'sass:meta';
@use 'variables' as *;
@use 'icons-base' as *;

//==================================================//
//================ * * * Tools * * * ===============//
//==================================================//

@mixin brushSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M16 1h2M14 2h2M18 2h1M12 3h2M18 3h1M11 4h1M17 4h1M10 5h1M17 5h1M9 6h1M16 6h1M8 7h1M16 7h1M8 8h1M15 8h1M7 9h1M14 9h1M6 10h2M13 10h1M4 11h2M11 11h2M3 12h1M9 12h2M2 13h1M9 13h1M2 14h1M8 14h1M2 15h1M8 15h1M2 16h1M8 16h1M1 17h1M7 17h1M2 18h5' /%3E%3Cpath stroke='%23575757' d='M16 2h2M14 3h2M12 4h2M11 5h1M15 5h1M10 6h1M14 6h1M9 7h1M13 7h1M9 8h1M12 8h1M8 9h4M9 10h2M4 13h2M8 13h1M4 14h2M4 15h2M4 16h1' /%3E%3Cpath stroke='%23acacac' d='M16 3h1M14 4h2M12 5h3M11 6h3M10 7h3M10 8h2M6 11h1M8 11h1M7 12h2' /%3E%3Cpath stroke='%23000000' d='M17 3h1M16 4h1M16 5h1M15 6h1M14 7h2M13 8h2M12 9h2M8 10h1M11 10h2M9 11h2M4 12h3M3 13h1M6 13h2M3 14h1M6 14h2M3 15h1M6 15h2M3 16h1M5 16h3M2 17h5' /%3E%3Cpath stroke='%23ffffff' d='M7 11h1' /%3E%3C/svg%3E");
}

@mixin brushIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('brushSvg'), $border, $active);
}

@mixin fillSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M9 1h1M8 2h1M10 2h1M8 3h1M10 3h1M8 4h1M11 4h1M7 5h1M11 5h1M7 6h1M11 6h1M7 7h1M12 7h1M6 8h1M12 8h1M6 9h1M13 9h1M5 10h1M14 10h1M4 11h1M15 11h1M3 12h1M16 12h1M3 13h1M16 13h1M3 14h1M16 14h1M3 15h1M16 15h1M4 16h1M15 16h1M5 17h2M13 17h2M7 18h6' /%3E%3Cpath stroke='%23000000' d='M9 2h1M9 3h1M9 4h2M8 5h3M8 6h3M8 7h4M7 8h2M10 8h2M7 9h2M10 9h3M6 10h2M10 10h4M5 11h2M9 11h6M4 12h2M9 12h5M15 12h1M4 13h2M8 13h6M15 13h1M4 14h9M15 14h1M4 15h7M15 15h1M5 16h2M13 16h2M7 17h6' /%3E%3Cpath stroke='%23ffffff' d='M9 8h1M9 9h1M8 10h2M7 11h2M6 12h3M6 13h2' /%3E%3Cpath stroke='%23575757' d='M14 12h1M14 13h1M13 14h2M11 15h4M7 16h6' /%3E%3C/svg%3E");
}

@mixin fillIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('fillSvg'), $border, $active);
}

@mixin lineSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M17 1h1M16 2h1M18 2h1M15 3h1M17 3h1M14 4h1M16 4h1M13 5h1M15 5h1M12 6h1M14 6h1M11 7h1M13 7h1M10 8h1M12 8h1M9 9h1M11 9h1M8 10h1M10 10h1M7 11h1M9 11h1M6 12h1M8 12h1M5 13h1M7 13h1M4 14h1M6 14h1M3 15h1M5 15h1M2 16h1M4 16h1M1 17h1M3 17h1M2 18h1' /%3E%3Cpath stroke='%23000000' d='M17 2h1M16 3h1M15 4h1M14 5h1M13 6h1M12 7h1M11 8h1M10 9h1M9 10h1M8 11h1M7 12h1M6 13h1M5 14h1M4 15h1M3 16h1M2 17h1' /%3E%3C/svg%3E");
}

@mixin lineIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('lineSvg'), $border, $active);
}

@mixin quadCurveSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M12 1h6M9 2h3M18 2h1M7 3h2M12 3h6M6 4h1M9 4h3M5 5h1M7 5h2M4 6h1M6 6h1M3 7h1M5 7h1M3 8h1M5 8h1M2 9h1M4 9h1M2 10h1M4 10h1M2 11h1M4 11h1M1 12h1M3 12h1M1 13h1M3 13h1M1 14h1M3 14h1M1 15h1M3 15h1M1 16h1M3 16h1M1 17h1M3 17h1M2 18h1' /%3E%3Cpath stroke='%23000000' d='M12 2h6M9 3h3M7 4h2M6 5h1M5 6h1M4 7h1M4 8h1M3 9h1M3 10h1M3 11h1M2 12h1M2 13h1M2 14h1M2 15h1M2 16h1M2 17h1' /%3E%3C/svg%3E");
}

@mixin quadCurveIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('quadCurveSvg'), $border, $active);
}

@mixin cubicCurveSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M17 1h1M16 2h1M18 2h1M16 3h1M18 3h1M16 4h1M18 4h1M6 5h3M15 5h1M17 5h1M5 6h1M9 6h1M15 6h1M17 6h1M4 7h1M6 7h3M10 7h1M15 7h1M17 7h1M3 8h1M5 8h1M9 8h1M11 8h1M14 8h1M16 8h1M3 9h1M5 9h1M9 9h1M11 9h1M14 9h1M16 9h1M2 10h1M4 10h1M10 10h1M12 10h2M15 10h1M2 11h1M4 11h1M11 11h1M14 11h1M2 12h1M4 12h1M12 12h2M1 13h1M3 13h1M1 14h1M3 14h1M1 15h1M3 15h1M1 16h1M3 16h1M1 17h1M3 17h1M2 18h1' /%3E%3Cpath stroke='%23000000' d='M17 2h1M17 3h1M17 4h1M16 5h1M6 6h3M16 6h1M5 7h1M9 7h1M16 7h1M4 8h1M10 8h1M15 8h1M4 9h1M10 9h1M15 9h1M3 10h1M11 10h1M14 10h1M3 11h1M12 11h2M3 12h1M2 13h1M2 14h1M2 15h1M2 16h1M2 17h1' /%3E%3C/svg%3E");
}

@mixin cubicCurveIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('cubicCurveSvg'), $border, $active);
}

@mixin rectangleSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M2 2h16M1 3h1M18 3h1M1 4h1M18 4h1M1 5h1M18 5h1M1 6h1M18 6h1M1 7h1M18 7h1M1 8h1M18 8h1M1 9h1M18 9h1M1 10h1M18 10h1M1 11h1M18 11h1M1 12h1M18 12h1M1 13h1M18 13h1M1 14h1M18 14h1M1 15h1M18 15h1M2 16h16' /%3E%3Cpath stroke='%23000000' d='M2 3h16M2 4h1M17 4h1M2 5h1M17 5h1M2 6h1M17 6h1M2 7h1M17 7h1M2 8h1M17 8h1M2 9h1M17 9h1M2 10h1M17 10h1M2 11h1M17 11h1M2 12h1M17 12h1M2 13h1M17 13h1M2 14h1M17 14h1M2 15h16' /%3E%3C/svg%3E");
}

@mixin rectangleIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('rectangleSvg'), $border, $active);
}

@mixin ellipseSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M12 1h4M10 2h2M16 2h1M8 3h2M12 3h4M17 3h1M7 4h1M10 4h2M16 4h1M18 4h1M6 5h1M8 5h2M16 5h1M18 5h1M5 6h1M7 6h1M16 6h1M18 6h1M4 7h1M6 7h1M16 7h1M18 7h1M3 8h1M5 8h1M15 8h1M17 8h1M3 9h1M5 9h1M15 9h1M17 9h1M2 10h1M4 10h1M14 10h1M16 10h1M2 11h1M4 11h1M14 11h1M16 11h1M1 12h1M3 12h1M13 12h1M15 12h1M1 13h1M3 13h1M12 13h1M14 13h1M1 14h1M3 14h1M10 14h2M13 14h1M1 15h1M3 15h1M8 15h2M12 15h1M2 16h1M4 16h4M10 16h2M3 17h1M8 17h2M4 18h4' /%3E%3Cpath stroke='%23000000' d='M12 2h4M10 3h2M16 3h1M8 4h2M17 4h1M7 5h1M17 5h1M6 6h1M17 6h1M5 7h1M17 7h1M4 8h1M16 8h1M4 9h1M16 9h1M3 10h1M15 10h1M3 11h1M15 11h1M2 12h1M14 12h1M2 13h1M13 13h1M2 14h1M12 14h1M2 15h1M10 15h2M3 16h1M8 16h2M4 17h4' /%3E%3C/svg%3E");
}

@mixin ellipseIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('ellipseSvg'), $border, $active);
}

@mixin selectSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M2 1h2M6 1h3M11 1h3M16 1h2M1 2h1M4 2h2M9 2h2M14 2h2M18 2h1M1 3h1M3 3h1M6 3h3M11 3h3M16 3h1M18 3h1M2 4h1M17 4h1M2 5h1M17 5h1M1 6h1M3 6h1M16 6h1M18 6h1M1 7h1M3 7h1M16 7h1M18 7h1M1 8h1M3 8h1M16 8h1M18 8h1M2 9h1M17 9h1M2 10h1M17 10h1M1 11h1M3 11h1M16 11h1M18 11h1M1 12h1M3 12h1M16 12h1M18 12h1M1 13h1M3 13h1M16 13h1M18 13h1M2 14h1M17 14h1M2 15h1M17 15h1M1 16h1M3 16h1M6 16h3M11 16h3M16 16h1M18 16h1M1 17h1M4 17h2M9 17h2M14 17h2M18 17h1M2 18h2M6 18h3M11 18h3M16 18h2' /%3E%3Cpath stroke='%23000000' d='M2 2h2M6 2h3M11 2h3M16 2h2M2 3h1M17 3h1M2 6h1M17 6h1M2 7h1M17 7h1M2 8h1M17 8h1M2 11h1M17 11h1M2 12h1M17 12h1M2 13h1M17 13h1M2 16h1M17 16h1M2 17h2M6 17h3M11 17h3M16 17h2' /%3E%3C/svg%3E");
}

@mixin selectIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('selectSvg'), $border, $active);
}

@mixin eyedropperSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M15 1h3M10 2h2M14 2h1M18 2h1M9 3h1M12 3h2M18 3h1M8 4h1M18 4h1M9 5h1M17 5h1M9 6h1M16 6h1M8 7h1M16 7h1M7 8h1M17 8h1M6 9h1M17 9h1M5 10h1M13 10h2M16 10h1M4 11h1M12 11h1M15 11h1M4 12h1M11 12h1M3 13h1M10 13h1M3 14h1M9 14h1M2 15h1M7 15h2M2 16h1M5 16h2M2 17h1M5 17h1M3 18h2' /%3E%3Cpath stroke='%23000000' d='M15 2h3M10 3h2M14 3h4M9 4h9M10 5h7M12 6h4M13 7h3M14 8h3M13 9h4M12 10h1M15 10h1M11 11h1M5 12h1M7 12h4M4 13h1M9 13h1M4 14h1M7 14h2M3 15h4M3 16h2M3 17h2' /%3E%3Cpath stroke='%23575757' d='M10 6h2M9 7h1M12 7h1M8 8h1M13 8h1M7 9h1M6 10h1M5 11h1M5 13h4M5 14h2' /%3E%3Cpath stroke='%23acacac' d='M10 7h2M9 8h1M11 8h2M8 9h1M10 9h3M7 10h1M9 10h3M6 11h1M8 11h3M6 12h1' /%3E%3Cpath stroke='%23ffffff' d='M10 8h1M9 9h1M8 10h1M7 11h1' /%3E%3C/svg%3E");
}

@mixin eyedropperIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('eyedropperSvg'), $border, $active);
}

@mixin grabSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M9 1h2M8 2h1M11 2h3M5 3h3M14 3h1M4 4h1M7 4h1M15 4h2M3 5h1M17 5h1M3 6h1M18 6h1M4 7h1M18 7h1M4 8h1M18 8h1M4 9h2M18 9h1M3 10h1M17 10h1M2 11h1M17 11h1M2 12h1M17 12h1M3 13h1M16 13h1M4 14h1M16 14h1M5 15h1M16 15h1M6 16h1M15 16h1M7 17h1M14 17h1M8 18h6' /%3E%3Cpath stroke='%23575757' d='M9 2h2M8 3h1M12 3h2M5 4h2M8 4h1M4 5h1M16 5h1M4 6h1M7 6h1M11 6h1M15 6h1M5 7h1M11 7h1M14 7h2M5 8h1M8 8h1M11 8h1M14 8h1M6 9h1M14 9h1M16 9h1M4 10h2M3 11h1M6 11h2M13 11h1M3 12h1M13 12h1M15 12h1M14 15h1M13 16h1' /%3E%3Cpath stroke='%23ffffff' d='M9 3h2M9 4h1M12 4h2M5 5h2M9 5h1M12 5h1M5 6h2M9 6h1M12 6h1M6 7h1M9 7h1M12 7h1M6 8h2M9 8h1M12 8h1M7 9h1M9 9h1M12 9h1M7 10h4M12 10h1M4 11h2M8 11h1M10 11h1M12 11h1M4 12h3M8 12h1M10 12h1M12 12h1M6 13h7M7 14h6M8 15h4' /%3E%3Cpath stroke='%23000000' d='M11 3h1M11 4h1M14 4h1M7 5h2M11 5h1M14 5h2M8 6h1M14 6h1M17 6h1M8 7h1M17 7h1M17 8h1M17 9h1M6 10h1M16 10h1M16 11h1M16 12h1M4 13h1M15 13h1M5 14h1M15 14h1M6 15h1M15 15h1M7 16h1M14 16h1M8 17h6' /%3E%3Cpath stroke='%23acacac' d='M10 4h1M10 5h1M13 5h1M10 6h1M13 6h1M16 6h1M7 7h1M10 7h1M13 7h1M16 7h1M10 8h1M13 8h1M15 8h2M8 9h1M10 9h2M13 9h1M15 9h1M11 10h1M13 10h3M9 11h1M11 11h1M14 11h2M7 12h1M9 12h1M11 12h1M14 12h1M5 13h1M13 13h2M6 14h1M13 14h2M7 15h1M12 15h2M8 16h5' /%3E%3C/svg%3E");
}

@mixin grabIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('grabSvg'), $border, $active);
}

@mixin moveSvg($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'%3E%3Cpath stroke='#{$color}' d='M9 1h2M8 2h1M11 2h1M7 3h1M12 3h1M6 4h1M13 4h1M7 5h2M11 5h2M4 6h1M8 6h1M11 6h1M15 6h1M3 7h1M5 7h1M8 7h1M11 7h1M14 7h1M16 7h1M2 8h1M5 8h4M11 8h4M17 8h1M1 9h1M18 9h1M1 10h1M18 10h1M2 11h1M5 11h4M11 11h4M17 11h1M3 12h1M5 12h1M8 12h1M11 12h1M14 12h1M16 12h1M4 13h1M8 13h1M11 13h1M15 13h1M7 14h2M11 14h2M6 15h1M13 15h1M7 16h1M12 16h1M8 17h1M11 17h1M9 18h2' /%3E%3Cpath stroke='%23000000' d='M9 2h2M8 3h4M7 4h6M9 5h2M9 6h2M4 7h1M9 7h2M15 7h1M3 8h2M9 8h2M15 8h2M2 9h16M2 10h16M3 11h2M9 11h2M15 11h2M4 12h1M9 12h2M15 12h1M9 13h2M9 14h2M7 15h6M8 16h4M9 17h2' /%3E%3C/svg%3E");
}

@mixin moveIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('moveSvg'), $border, $active);
}

@mixin magicWandSvg($color) {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'><path stroke='#{$color}' d='M6 1h1M3 2h1M5 2h1M7 2h2M2 3h1M4 3h4M9 3h1M3 4h1M8 4h1M2 5h2M8 5h2M1 6h1M3 6h1M8 6h1M10 6h1M2 7h2M8 7h2M2 8h1M4 8h4M9 8h2M3 9h1M5 9h1M7 9h2M11 9h1M6 10h1M8 10h1M12 10h1M9 11h1M13 11h1M10 12h1M14 12h1M11 13h1M15 13h1M12 14h1M16 14h1M13 15h1M17 15h1M14 16h1M18 16h1M15 17h1M18 17h1M16 18h2' /><path stroke='%23acacac' d='M6 2h1M3 3h1M8 3h1M4 4h4M4 5h1M7 5h1M2 6h1M4 6h1M7 6h1M9 6h1M4 7h4M3 8h1M8 8h1M6 9h1M11 11h1M12 12h1M14 14h1' /><path stroke='%23ffffff' d='M5 5h1M5 6h2' /><path stroke='%23fffffd' d='M6 5h1M10 10h1' /><path stroke='%23575757' d='M9 9h2M9 10h1M10 11h1M11 12h1M13 13h1M15 15h1' /><path stroke='%23000000' d='M11 10h1M12 11h1M13 12h1M12 13h1M14 13h1M13 14h1M15 14h1M14 15h1M16 15h1M15 16h3M16 17h2' /></svg>");
}

@mixin magicWandIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('magicWandSvg'), $border, $active);
}

@mixin mirrorVerticalSvg($color) {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'><path stroke='#{$color}' d='M2 1h16M1 2h1M18 2h1M2 3h1M17 3h1M3 4h1M16 4h1M4 5h1M15 5h1M5 6h10M2 8h16M1 9h1M18 9h1M1 10h1M18 10h1M2 11h16M5 13h10M4 14h1M15 14h1M3 15h1M16 15h1M2 16h1M17 16h1M1 17h1M18 17h1M2 18h16' /><path stroke='%23000000' d='M2 2h16M3 3h14M4 4h12M5 5h10M2 9h16M2 10h16M5 14h10M4 15h12M3 16h14M2 17h16' /></svg>");
}

@mixin mirrorVerticalIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('mirrorVerticalSvg'), $border, $active);
}

@mixin mirrorHorizontalSvg($color) {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 20 20' shape-rendering='crispEdges'><path stroke='#{$color}' d='M2 1h1M9 1h2M17 1h1M1 2h1M3 2h1M8 2h1M11 2h1M16 2h1M18 2h1M1 3h1M4 3h1M8 3h1M11 3h1M15 3h1M18 3h1M1 4h1M5 4h1M8 4h1M11 4h1M14 4h1M18 4h1M1 5h1M6 5h1M8 5h1M11 5h1M13 5h1M18 5h1M1 6h1M6 6h1M8 6h1M11 6h1M13 6h1M18 6h1M1 7h1M6 7h1M8 7h1M11 7h1M13 7h1M18 7h1M1 8h1M6 8h1M8 8h1M11 8h1M13 8h1M18 8h1M1 9h1M6 9h1M8 9h1M11 9h1M13 9h1M18 9h1M1 10h1M6 10h1M8 10h1M11 10h1M13 10h1M18 10h1M1 11h1M6 11h1M8 11h1M11 11h1M13 11h1M18 11h1M1 12h1M6 12h1M8 12h1M11 12h1M13 12h1M18 12h1M1 13h1M6 13h1M8 13h1M11 13h1M13 13h1M18 13h1M1 14h1M6 14h1M8 14h1M11 14h1M13 14h1M18 14h1M1 15h1M5 15h1M8 15h1M11 15h1M14 15h1M18 15h1M1 16h1M4 16h1M8 16h1M11 16h1M15 16h1M18 16h1M1 17h1M3 17h1M8 17h1M11 17h1M16 17h1M18 17h1M2 18h1M9 18h2M17 18h1' /><path stroke='%23000000' d='M2 2h1M9 2h2M17 2h1M2 3h2M9 3h2M16 3h2M2 4h3M9 4h2M15 4h3M2 5h4M9 5h2M14 5h4M2 6h4M9 6h2M14 6h4M2 7h4M9 7h2M14 7h4M2 8h4M9 8h2M14 8h4M2 9h4M9 9h2M14 9h4M2 10h4M9 10h2M14 10h4M2 11h4M9 11h2M14 11h4M2 12h4M9 12h2M14 12h4M2 13h4M9 13h2M14 13h4M2 14h4M9 14h2M14 14h4M2 15h3M9 15h2M15 15h3M2 16h2M9 16h2M16 16h2M2 17h1M9 17h2M17 17h1' /></svg>");
}

@mixin mirrorHorizontalIcon($border: $border-color, $active: $white) {
  @include toolIcon(meta.get-mixin('mirrorHorizontalSvg'), $border, $active);
}
