@keyframes flash {
  0% {
    // background-color: $warning-color;
    opacity: 1;
  }
  30% {
    // background-color: $warning-color;
    opacity: 1;
  }
  100% {
    // background-color: white;
    opacity: 0;
  }
}

@keyframes smallFloat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
