@mixin inactiveBoxBorder {
  box-shadow: 2px 0px $border-color, -2px 0px $border-color,
    0px -2px $border-color, 0px 2px $border-color;
}

@mixin activeBoxBorder {
  box-shadow: 2px 0px $white, -2px 0px $white, 0px -2px $white, 0px 2px $white;
}

@mixin boxBorder {
  @include inactiveBoxBorder;
  &:hover:not([disabled]),
  &:focus {
    @include activeBoxBorder;
  }
}

@mixin editBoxBorder {
  &:hover:not([disabled]),
  &:focus {
    box-shadow: 2px 0px rgb(71, 255, 47), -2px 0px rgb(71, 255, 47),
      0px -2px rgb(71, 255, 47), 0px 2px rgb(71, 255, 47);
  }
}

@mixin removeBoxBorder {
  &:hover:not([disabled]),
  &:focus {
    box-shadow: 2px 0px red, -2px 0px red, 0px -2px red, 0px 2px red;
  }
}

@mixin leftDownUpBorder {
  box-shadow: -2px 0px $border-color, 0px -2px $border-color,
    0px 2px $border-color;
  &:hover:not([disabled]),
  &:focus {
    box-shadow: 2px 0px $white, -2px 0px $white, 0px -2px $white, 0px 2px $white;
  }
}

@mixin leftUpBorder {
  box-shadow: -2px 0px $border-color, 0px -2px $border-color;
  &:hover:not([disabled]),
  &:focus {
    box-shadow: -2px 0px $white, 0px -2px $white;
  }
}

@mixin leftDownBorder {
  box-shadow: -2px 0px $border-color, 0px 2px $border-color;
  &:hover:not([disabled]),
  &:focus {
    box-shadow: -2px 0px $white, 0px 2px $white;
  }
}

@mixin sandwichBorder {
  box-shadow: 0px -2px $border-color, 0px 2px $border-color;
  &:hover:not([disabled]),
  &:focus {
    box-shadow: 0px -2px $white, 0px 2px $white;
  }
}

@mixin bottomBorder {
  box-shadow: 0px 2px $border-color;
  &:hover:not([disabled]),
  &:focus {
    box-shadow: 0px 2px $white;
  }
}

@mixin internalBorder {
  box-shadow: inset 2px 0px $border-color, -2px 0px $border-color,
    0px -2px $border-color, 0px 2px $border-color;
  &:hover:not([disabled]),
  &:focus {
    box-shadow: 2px 0px $white, -2px 0px $white, 0px -2px $white, 0px 2px $white;
  }
}

@mixin doubleThinActiveBorder {
  box-shadow: 1px 0px $black, -1px 0px $black, 0px -1px $black, 0px 1px $black,
    0 0 0 1px $white, 2px 0px $white, -2px 0px $white, 0px -2px $white,
    0px 2px $white;
}

@mixin cancelBorder {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

@mixin dragger {
  .drag-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    .grip {
      margin: 5px;
      height: 2px;
      width: 2px;
      background: $border-color;
      box-shadow: 0px 0px $border-color, 4px 0px $border-color,
        0px 4px $border-color, 4px 4px $border-color, 0px 8px $border-color,
        4px 8px $border-color;
    }
    &.locked {
      .grip {
        box-shadow: 2px -2px $border-color, 4px -2px $border-color,
          0px 0px $border-color, 6px 0px $border-color, 0px 2px $border-color,
          6px 2px $border-color, -2px 4px $border-color, 0px 4px $border-color,
          2px 4px $border-color, 4px 4px $border-color, 6px 4px $border-color,
          8px 4px $border-color, -2px 6px $border-color, 0px 6px $border-color,
          4px 6px $border-color, 6px 6px $border-color, 8px 6px $border-color,
          -2px 8px $border-color, 0px 8px $border-color, 4px 8px $border-color,
          6px 8px $border-color, 8px 8px $border-color, -2px 10px $border-color,
          0px 10px $border-color, 2px 10px $border-color, 4px 10px $border-color,
          6px 10px $border-color, 8px 10px $border-color;
      }
    }
  }
  &:hover:not([disabled]),
  &:focus {
    .drag-btn {
      .grip {
        background: $white;
        box-shadow: 0px 0px $white, 4px 0px $white, 0px 4px $white,
          4px 4px $white, 0px 8px $white, 4px 8px $white;
      }
      &.locked {
        .grip {
          box-shadow: 2px -2px $white, 4px -2px $white, 0px 0px $white,
            6px 0px $white, 0px 2px $white, 6px 2px $white, -2px 4px $white,
            0px 4px $white, 2px 4px $white, 4px 4px $white, 6px 4px $white,
            8px 4px $white, -2px 6px $white, 0px 6px $white, 4px 6px $white,
            6px 6px $white, 8px 6px $white, -2px 8px $white, 0px 8px $white,
            4px 8px $white, 6px 8px $white, 8px 8px $white, -2px 10px $white,
            0px 10px $white, 2px 10px $white, 4px 10px $white, 6px 10px $white,
            8px 10px $white;
        }
      }
    }
  }
}

@mixin collapseArrow {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 0px;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .arrow {
    height: 2px;
    width: 2px;
    box-shadow: 9px 5px $border-color, 7px 7px $border-color,
      9px 7px $border-color, 11px 7px $border-color, 5px 9px $border-color,
      7px 9px $border-color, 9px 9px $border-color, 11px 9px $border-color,
      13px 9px $border-color, 9px 11px $border-color, 9px 13px $border-color;
  }
  input:checked ~ .arrow {
    box-shadow: 9px 5px $border-color, 9px 7px $border-color,
      5px 9px $border-color, 7px 9px $border-color, 9px 9px $border-color,
      11px 9px $border-color, 13px 9px $border-color, 7px 11px $border-color,
      9px 11px $border-color, 11px 11px $border-color, 9px 13px $border-color;
  }
  &:hover {
    .arrow {
      box-shadow: 9px 5px $white, 7px 7px $white, 9px 7px $white,
        11px 7px $white, 5px 9px $white, 7px 9px $white, 9px 9px $white,
        11px 9px $white, 13px 9px $white, 9px 11px $white, 9px 13px $white;
    }
    input:checked ~ .arrow {
      box-shadow: 9px 5px $white, 9px 7px $white, 5px 9px $white, 7px 9px $white,
        9px 9px $white, 11px 9px $white, 13px 9px $white, 7px 11px $white,
        9px 11px $white, 11px 11px $white, 9px 13px $white;
    }
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $border-color;
    background-clip: content-box;
    border: 2px solid transparent;
    &:hover {
      background: white;
      background-clip: content-box;
    }
  }
}

@mixin eyeOpen {
  background-image: url("../public/pixelv-eyeopen.png");
  background-size: 100%;
  &:hover {
    background-image: url("../public/pixelv-eyeopen-hover.png");
  }
}

@mixin eyeClosed {
  background-image: url("../public/pixelv-eyeclosed.png");
  background-size: 100%;
  &:hover {
    background-image: url("../public/pixelv-eyeclosed-hover.png");
  }
}
